# Database

A database is an organised collection of data stored electronically so that it can be easily accessed, managed and updated.
Instead of keeping data in files or notebooks, databases store data in a structured and secure way.

## Analogy

Think of a bank locker system: 
    Each locker -> table 
    Each drawer -> row 
    Each compartment -> column 

The bank(database) keeps everything safe, organised and easy to retrieve

HOW- 
Database works using a Database Management System(DBMS).

Basic workflow:

    User / Application → DBMS → Database

The DBMS: 
    Accepts queries(SQL)
    Processes them 
    Return results

## Example

#SELECT all columns FROM table

SELECT * FROM students;

## When to Use

Any application with structured data

Business systems

Analytics platforms

## Database Components

Tables
Rows & columns

## Database Types

Relational Database Management Systems(RDBMS)
NoSQL Databases
In-Memory Databases

## CRUD Operations

Create -> INSERT 
Read -> SELECT 
Update -> UPDATE 
Delete -> DELETE

## Alternatives

File-Based Storage(CSV, Excel)
Data Warehouse
Cloud Databases

## Real-World Examples

Banking System:
    Stores accounts, transactions
    Ensures ACID properties

Social Media App:
    Stores users, posts, likes

## Summary

Database stores organized data

Managed by DBMS

Supports CRUD operations

Types: RDBMS, NoSQL, In-memory

Used in almost all applications

Core topic for interviews

# Tables

A table is a structured collection of data madeup of columns and rows.

Columns -> Define data type and meaning.
Rows -> Actual data records

columns are defined while creating a table and the rows are the values we insert into the table.

Each table represents one entity(like students, employees, orders) and keeps related data together in an organised way.

## Analogy

Think of an Excel sheet: 
    Sheet -> Table 
    Columns -> Fiels(Name, Age, Salary)
    Rows -> Records(One person's data)

A database table works exactly like this, but with rules, security and performance optimizations

## Example

| id | name | salary |
| -- | ---- | ------ |
| 1  | John | 50000  |

## HOW -

Tables are created using DDL(Data Definition Language) commands.

## Syntax

CREATE TABLE table_name(column_name data_type);

## Example Query

#Sample Query

CREATE TABLE employees (
    emp_id INT,
    emp_name VARCHAR(50),
    salary INT
);

## When to Use

Structured data

Business applications

Transactional systems

## Real-World Example

#Employee Management

SELECT emp_name, salary FROM employees;

#Banking System

Tables: accounts, transactions, customers

## Summary

Table stores data in rows and columns

Core structure of a database

Created using CREATE TABLE

Supports CRUD operations

Can be altered or dropped

Fundamental SQL interview topic

# Table Operations

## Create table

CREATE TABLE students (
    id INT,
    name VARCHAR(50),
    age INT
);

## Insert data

INSERT INTO students VALUES (1, 'Alice', 20);

insert new values into tables.

## Read data

SELECT * FROM students;

reads data.

## Update data

UPDATE students SET age= 22 WHERE id= 1; 

updates stored values in a table.

## Delete data

DELETE FROM students WHERE id = 1; 

deletes values from a table.

## Alter table

ALTER TABLE students ADD email VARCHAR(100); #adds new attribute

ALTER TABLE students drop email VARCHAR(100); #removes existing attribute

alter table attributes like adding new columns and removing existing columns.

## Drop table

DROP TABLE students; 

deletes table.

## Truncate table

TRUNCATE TABLE students; 

removes all records(rows) and keeps the structure(columns)

## Rename table

RENAME TABLE students TO studentdetails; 

renames table.

# Row

A row represents one complete record in a database table.
Each row contains values for every column defined in the table

## Analogy

If a table is a container, then a row is one item inside that container. 

Think of a student register: 
    Register -> Table 
    Columns -> Name, Rollno, Marks 
    One student's entry -> One row 
Each row tells the full story of one entity.

## Example

| id | name  | age |
| -- | ----- | --- |
| 1  | Alice | 20  |

## HOW -

Rows are added, read, updated, and deleted using DML commands.

## Syntax

# Insert a row into a table

INSERT INTO table_name VALUES (...);

## Example query

# Sample query
INSERT INTO students VALUES (1, 'Alice', 20);

## When to Use

Any structured data storage

Transactional records

Logging and history tracking

## Real-World Example

# Banking Transactions

Each transaction = one row

# Attendance System

One row per student per day

## Summary

Row = single record

Stored horizontally

Contains values for all columns

Manipulated using INSERT, SELECT, UPDATE, DELETE

Core part of SQL operations

Frequently tested in interviews

# Row Operations

## Insert Row

INSERT INTO employees VALUES (1, 'John', 50000); 

inserts values

## Read Rows

SELECT * FROM employees; 

read stored values

## Filter Rows

SELECT * FROM employees WHERE salary > 40000; 

filter values.

## Update Row

UPDATE employees SET salary = 55000 WHERE emp_id = 1; 

update existing values.

## Delete Row

DELETE FROM employees WHERE emp_id = 1; 

delete values.

## Sort Rows

SELECT * FROM employees ORDER BY salary DESC; 

sort values.

## Limit Rows

SELECT * FROM employees LIMIT 5; 

limit values views.

# Good to Know

## Bulk Row Insertion

INSERT INTO students VALUES
(2, 'Bob', 21),
(3, 'Charlie', 22);

insert multiple values into a table.
Used for loading initial data.

## Insert Table Copy

Using SELECT to Insert Rows 

INSERT INTO backup_students
SELECT * FROM students;

copy column values of one table into another table.
used for migrating one table values into another table.

# Column

Columns are the attributes of the table or entity

In [ ]:
A Column defines what kind of data a table can store.
It represents a single attribute of an entity.

## Analogy

Think of a form:
    field names -> Column 
    filled form -> row 
Without columns, rows would be meaningless values

## Example

| id                                   | name | age |
| ------------------------------------ | ---- | --- |
|                                      |      |     |

This vertical part is a column.

## HOW -

Columns are defined when creating or altering a table.

## Syntax

In [ ]:
column_name data_type [constraints]

## Example Query

CREATE TABLE students (
    id INT,
    name VARCHAR(50),
    age INT
);

## Real-World Example

# Employee Database

Columns: emp_id, name, salary, department

# E-commerce

SELECT product_name, price FROM products;

## Summary

Column = attribute of a table

Stored vertically

Has a defined data type

Supports constraints

Can be added, modified, or dropped

Essential for data integrity

# Column Operation

## Add Column

ALTER TABLE students ADD email VARCHAR(100);

add columns to an existing table.

## Modify Column

ALTER TABLE students MODIFY age INT;

change data type of a column

## Rename Column

ALTER TABLE students RENAME COLUMN age TO student_age;

rename column in a table.

## Drop Column

ALTER TABLE students DROP COLUMN email;

drop a column from a table.

## Set Default Value

ALTER TABLE students ALTER age SET DEFAULT 18;

set a predefined value for a column

## Add Constraints to Column

ALTER TABLE students ADD CONSTRAINT age_check CHECK (age >= 0);

add conditions to a column.

# Good to Know

## Computed / Derived Columns

SELECT salary * 12 AS annual_salary FROM employees;

summing annual salary.
Used for reporting and analytics

## JSON Columns

CREATE TABLE users (
    data JSON
);

used for semi-structured data.
it has flexible schema.

# Constraints

Constraints are rules applied on tables or columns to restrict invalid data.

Constraints are rules applied on tables or columns to prevent invalid data from being inserted, updated or deleted.
Constraints are automatically checked during INSERT or UPDATE.
It is used to ensure data accuracy, consistency and reliability.

## Analogy

Think of a college admission form: 
    Age must be >= 17 
    Email must be unique 
    Roll number cannot be empty. 
These rules are constraints that protect data quality.

They act like guards that prevent wrong or invalid data from entering the table.

## HOW-

Constraints are defined: 
    During table creation(CREATE TABLE) 
    After creation(ALTER TABLE)

## Syntax

column_name data_type CONSTRAINT_TYPE

## Example Query

CREATE TABLE users (
    id INT PRIMARY KEY,
    email VARCHAR(100) UNIQUE,
    age INT CHECK (age >= 18)
);

## When to Use

Always in production databases

Business-critical systems

Financial and healthcare data

## Real-World Example

# Banking System

Account number → UNIQUE

Balance → CHECK (>= 0)

# E-commerce

Order → FOREIGN KEY to customer

## Summary

Constraints enforce rules

Protect data integrity

Applied at column or table level

Types: NOT NULL, UNIQUE, PK, FK, CHECK, DEFAULT

Reduce invalid data

Essential for real-world databases

# Constraint Types

## NOT NULL

name VARCHAR(50) NOT NULL

Prevents NULL values.

## UNIQUE

email VARCHAR(100) UNIQUE

Prevents duplicate values.

## PRIMARY KEY

id INT PRIMARY KEY

Combines NOT NULL + UNIQUE.
One per table.

## FOREIGN KEY

FOREIGN KEY (dept_id) REFERENCES departments(id)

Links tables together.

## CHECK

CHECK (salary > 0)

Validates condition.

## DEFAULT

status VARCHAR(20) DEFAULT 'ACTIVE'

Assigns default value.

## Composite Constraint

PRIMARY KEY (order_id, product_id)

Multiple columns together.

## FULL EXAMPLE

CREATE TABLE employees (
    emp_id INT PRIMARY KEY,
    email VARCHAR(100) UNIQUE,
    age INT CHECK (age >= 18),
    dept_id INT,
    status VARCHAR(20) DEFAULT 'ACTIVE',
    FOREIGN KEY (dept_id) REFERENCES departments(id)
);

# Good to know

## Triggers

CREATE TRIGGER check_age BEFORE INSERT ON users
FOR EACH ROW
BEGIN
    IF NEW.age < 18 THEN SIGNAL SQLSTATE '45000';
END;

When to Use:
Advanced rules

# Index

An index in sql is a data structure that speeds up data retrieval from a database table.
It is a separate data structure built on one or more columns and 
It stores column values + row pointers for fast retrieval of data.

Instead of scanning the entire table row by row, the database uses an index to quickly locate the required data.

## Analogy

Think of a book: 
    Book -> Table 
    Pages -> Rows 
    Index page -> SQL Index 
Without the index page, you must read the entire book to find a topic. 
With the index page, you jump directly to the page number.

## HOW -

Indexes work using data structure like: 
    B-Tree (most common)
    Hash(limited cases)

## Syntax

CREATE INDEX index_name ON table_name(column_name);

## Example Query

CREATE INDEX idx_employee_name ON employees(name);

## When to Use

Large tables

Frequently filtered columns

Columns used in joins

## Real-World Example

# Banking System

Index on account_number
Query: 
CREATE UNIQUE INDEX idx_account ON accounts(account_number);

# E-commerce Website

Index on product_name and category

## Summary

Index speeds up SELECT queries

Uses B-Tree structure

Improves WHERE, JOIN, ORDER BY

Costs storage and write performance

Types: single, composite, unique, clustered

Essential for large databases

# Index types

## Single-Column Index

CREATE INDEX idx_salary ON employees(salary);

## Composite (Multi-Column) Index

CREATE INDEX idx_name_dept ON employees(name, department);

Used when filtering on multiple columns.

## Unique Index

CREATE UNIQUE INDEX idx_email ON users(email);

Prevents duplicate values.

## Primary Key Index

PRIMARY KEY (id)

Automatically created with PRIMARY KEY.

## Clustered Index

PRIMARY KEY (id)

Data stored in index order.
Only one per table.

## Non-Clustered Index

CREATE INDEX idx_city ON customers(city);

Index separate from data
Multiple allowed

## Drop Index

DROP INDEX idx_city;

## Full Example with Index Operations

CREATE INDEX idx_age ON students(age);
CREATE UNIQUE INDEX idx_roll ON students(roll_no);
DROP INDEX idx_age;

# Note

Avoid using indexes on small tables and frequently updated columns as it trades extra storage and slow writes for 
faster reads of data from a database.

# "ROW IS DATA; COLUMN IS STRUCTURE"