# Database

A database is an organised collection of data stored electronically so that it can be easily accessed, managed and updated.
Instead of keeping data in files or notebooks, databases store data in a structured and secure way.

## Analogy

Think of a bank locker system: 
    Each locker -> table 
    Each drawer -> row 
    Each compartment -> column 

The bank(database) keeps everything safe, organised and easy to retrieve

HOW- 
Database works using a Database Management System(DBMS).

Basic workflow:

    User / Application → DBMS → Database

The DBMS: 
    Accepts queries(SQL)
    Processes them 
    Return results

## Example

#SELECT all columns FROM table

SELECT * FROM students;

## When to Use

Any application with structured data

Business systems

Analytics platforms

## Database Components

Tables
Rows & columns

## Database Types

Relational Database Management Systems(RDBMS)
NoSQL Databases
In-Memory Databases

## CRUD Operations

Create -> INSERT 
Read -> SELECT 
Update -> UPDATE 
Delete -> DELETE

## Alternatives

File-Based Storage(CSV, Excel)
Data Warehouse
Cloud Databases

## Real-World Examples

Banking System:
    Stores accounts, transactions
    Ensures ACID properties

Social Media App:
    Stores users, posts, likes

## Summary

Database stores organized data

Managed by DBMS

Supports CRUD operations

Types: RDBMS, NoSQL, In-memory

Used in almost all applications

Core topic for interviews

# Tables

A table is a structured collection of data madeup of columns and rows.

Columns -> Define data type and meaning.
Rows -> Actual data records

columns are defined while creating a table and the rows are the values we insert into the table.

Each table represents one entity(like students, employees, orders) and keeps related data together in an organised way.

## Analogy

Think of an Excel sheet: 
    Sheet -> Table 
    Columns -> Fiels(Name, Age, Salary)
    Rows -> Records(One person's data)

A database table works exactly like this, but with rules, security and performance optimizations

## Example

| id | name | salary |
| -- | ---- | ------ |
| 1  | John | 50000  |

## HOW -

Tables are created using DDL(Data Definition Language) commands.

## Syntax

CREATE TABLE table_name(column_name data_type);

## Example(Query)

#Sample Query

CREATE TABLE employees (
    emp_id INT,
    emp_name VARCHAR(50),
    salary INT
);

## When to Use

Structured data

Business applications

Transactional systems

## Real-World Example

#Employee Management

SELECT emp_name, salary FROM employees;

#Banking System

Tables: accounts, transactions, customers

## Summary

Table stores data in rows and columns

Core structure of a database

Created using CREATE TABLE

Supports CRUD operations

Can be altered or dropped

Fundamental SQL interview topic

# Table Operations

## Create table

CREATE TABLE students (
    id INT,
    name VARCHAR(50),
    age INT
);

## Insert data

INSERT INTO students VALUES (1, 'Alice', 20);

insert new values into tables.

## Read data

SELECT * FROM students;

reads data.

## Update data

UPDATE students SET age= 22 WHERE id= 1; 

updates stored values in a table.

## Delete data

DELETE FROM students WHERE id = 1; 

deletes values from a table.

## Alter table

ALTER TABLE students ADD email VARCHAR(100); #adds new attribute

ALTER TABLE students drop email VARCHAR(100); #removes existing attribute

alter table attributes like adding new columns and removing existing columns.

## Drop table

DROP TABLE students; 

deletes table.

## Truncate table

TRUNCATE TABLE students; 

removes all records(rows) and keeps the structure(columns)

## Rename table

RENAME TABLE students TO studentdetails; 

renames table.

# Row

A row represents one complete record in a database table.
Each row contains values for every column defined in the table

## Analogy

If a table is a container, then a row is one item inside that container. 

Think of a student register: 
    Register -> Table 
    Columns -> Name, Rollno, Marks 
    One student's entry -> One row 
Each row tells the full story of one entity.

## Example

| id | name  | age |
| -- | ----- | --- |
| 1  | Alice | 20  |

## HOW -

Rows are added, read, updated, and deleted using DML commands.

## Syntax

# Insert a row into a table

INSERT INTO table_name VALUES (...);

## Example query

# Sample query
INSERT INTO students VALUES (1, 'Alice', 20);

## When to Use

Any structured data storage

Transactional records

Logging and history tracking

## Real-World Example

# Banking Transactions

Each transaction = one row

# Attendance System

One row per student per day

## Summary

Row = single record

Stored horizontally

Contains values for all columns

Manipulated using INSERT, SELECT, UPDATE, DELETE

Core part of SQL operations

Frequently tested in interviews

# Row Operations

## Insert Row

INSERT INTO employees VALUES (1, 'John', 50000); 

inserts values

## Read Rows

SELECT * FROM employees; 

read stored values

## Filter Rows

SELECT * FROM employees WHERE salary > 40000; 

filter values.

## Update Row

UPDATE employees SET salary = 55000 WHERE emp_id = 1; 

update existing values.

## Delete Row

DELETE FROM employees WHERE emp_id = 1; 

delete values.

## Sort Rows

SELECT * FROM employees ORDER BY salary DESC; 

sort values.

## Limit Rows

SELECT * FROM employees LIMIT 5; 

limit values views.

# Good to Know

## Bulk Row Insertion

INSERT INTO students VALUES
(2, 'Bob', 21),
(3, 'Charlie', 22);

insert multiple values into a table.
Used for loading initial data.

## Insert Table Copy

Using SELECT to Insert Rows 

INSERT INTO backup_students
SELECT * FROM students;

copy column values of one table into another table.
used for migrating one table values into another table.

# Column

Columns are the attributes of the table or entity

In [ ]:
A Column defines what kind of data a table can store.
It represents a single attribute of an entity.

## Analogy

Think of a form:
    field names -> Column 
    filled form -> row 
Without columns, rows would be meaningless values

## Example

| id                                   | name | age |
| ------------------------------------ | ---- | --- |
|                                      |      |     |

This vertical part is a column.

## HOW -

Columns are defined when creating or altering a table.

## Syntax

In [ ]:
column_name data_type [constraints]

## Example Query

CREATE TABLE students (
    id INT,
    name VARCHAR(50),
    age INT
);

## Real-World Example

# Employee Database

Columns: emp_id, name, salary, department

# E-commerce

SELECT product_name, price FROM products;

## Summary

Column = attribute of a table

Stored vertically

Has a defined data type

Supports constraints

Can be added, modified, or dropped

Essential for data integrity

# Column Operation

## Add Column

ALTER TABLE students ADD email VARCHAR(100);

add columns to an existing table.

## Modify Column

ALTER TABLE students MODIFY age INT;

change data type of a column

## Rename Column

ALTER TABLE students RENAME COLUMN age TO student_age;

rename column in a table.

## Drop Column

ALTER TABLE students DROP COLUMN email;

drop a column from a table.

## Set Default Value

ALTER TABLE students ALTER age SET DEFAULT 18;

set a predefined value for a column

## Add Constraints to Column

ALTER TABLE students ADD CONSTRAINT age_check CHECK (age >= 0);

add conditions to a column.

# Good to Know

## Computed / Derived Columns

SELECT salary * 12 AS annual_salary FROM employees;

summing annual salary.
Used for reporting and analytics

## JSON Columns

CREATE TABLE users (
    data JSON
);

used for semi-structured data.
it has flexible schema.

# "ROW IS DATA; COLUMN IS STRUCTURE"

# Constraints

Constraints are rules applied on tables or columns to restrict invalid data.

Constraints are rules applied on tables or columns to prevent invalid data from being inserted, updated or deleted.
Constraints are automatically checked during INSERT or UPDATE.
It is used to ensure data accuracy, consistency and reliability.

## Analogy

Think of a college admission form: 
    Age must be >= 17 
    Email must be unique 
    Roll number cannot be empty. 
These rules are constraints that protect data quality.

They act like guards that prevent wrong or invalid data from entering the table.

## HOW-

Constraints are defined: 
    During table creation(CREATE TABLE) 
    After creation(ALTER TABLE)

## Syntax

column_name data_type CONSTRAINT_TYPE

## Example Query

CREATE TABLE users (
    id INT PRIMARY KEY,
    email VARCHAR(100) UNIQUE,
    age INT CHECK (age >= 18)
);

## When to Use

Always in production databases

Business-critical systems

Financial and healthcare data

## Real-World Example

# Banking System

Account number → UNIQUE

Balance → CHECK (>= 0)

# E-commerce

Order → FOREIGN KEY to customer

## Summary

Constraints enforce rules

Protect data integrity

Applied at column or table level

Types: NOT NULL, UNIQUE, PK, FK, CHECK, DEFAULT

Reduce invalid data

Essential for real-world databases

# Constraint Types

## NOT NULL

name VARCHAR(50) NOT NULL

Prevents NULL values.

## UNIQUE

email VARCHAR(100) UNIQUE

Prevents duplicate values.

## PRIMARY KEY

id INT PRIMARY KEY

Combines NOT NULL + UNIQUE.
One per table.

## FOREIGN KEY

FOREIGN KEY (dept_id) REFERENCES departments(id)

Links tables together.

## CHECK

CHECK (salary > 0)

Validates condition.

## DEFAULT

status VARCHAR(20) DEFAULT 'ACTIVE'

Assigns default value.

## Composite Constraint

PRIMARY KEY (order_id, product_id)

Multiple columns together.

## FULL EXAMPLE

CREATE TABLE employees (
    emp_id INT PRIMARY KEY,
    email VARCHAR(100) UNIQUE,
    age INT CHECK (age >= 18),
    dept_id INT,
    status VARCHAR(20) DEFAULT 'ACTIVE',
    FOREIGN KEY (dept_id) REFERENCES departments(id)
);

# Good to know

## Triggers

CREATE TRIGGER check_age BEFORE INSERT ON users
FOR EACH ROW
BEGIN
    IF NEW.age < 18 THEN SIGNAL SQLSTATE '45000';
END;

When to Use:
Advanced rules

# Index

An index in sql is a data structure that speeds up data retrieval from a database table.
It is a separate data structure built on one or more columns and 
It stores column values + row pointers for fast retrieval of data.

Instead of scanning the entire table row by row, the database uses an index to quickly locate the required data.

## Analogy

Think of a book: 
    Book -> Table 
    Pages -> Rows 
    Index page -> SQL Index 
Without the index page, you must read the entire book to find a topic. 
With the index page, you jump directly to the page number.

## HOW -

Indexes work using data structure like: 
    B-Tree (most common)
    Hash(limited cases)

## Syntax

CREATE INDEX index_name ON table_name(column_name);

## Example Query

CREATE INDEX idx_employee_name ON employees(name);

## When to Use

Large tables

Frequently filtered columns

Columns used in joins

## Real-World Example

# Banking System

Index on account_number
Query: 
CREATE UNIQUE INDEX idx_account ON accounts(account_number);

# E-commerce Website

Index on product_name and category

## Summary

Index speeds up SELECT queries

Uses B-Tree structure

Improves WHERE, JOIN, ORDER BY

Costs storage and write performance

Types: single, composite, unique, clustered

Essential for large databases

# Index types

## Single-Column Index

CREATE INDEX idx_salary ON employees(salary);

## Composite (Multi-Column) Index

CREATE INDEX idx_name_dept ON employees(name, department);

Used when filtering on multiple columns.

## Unique Index

CREATE UNIQUE INDEX idx_email ON users(email);

Prevents duplicate values.

## Primary Key Index

PRIMARY KEY (id)

Automatically created with PRIMARY KEY.

## Clustered Index

PRIMARY KEY (id)

Data stored in index order.
Only one per table.

## Non-Clustered Index

CREATE INDEX idx_city ON customers(city);

Index separate from data
Multiple allowed

## Drop Index

DROP INDEX idx_city;

## Full Example with Index Operations

CREATE INDEX idx_age ON students(age);
CREATE UNIQUE INDEX idx_roll ON students(roll_no);
DROP INDEX idx_age;

# Note

Avoid using indexes on small tables and frequently updated columns as it trades extra storage and slow writes for 
faster reads of data from a database.

# Database Types

RDBMS 
NoSQL 
In-Memory Database

# RDBMS - Relationsal DataBase Management System

RBDMS is a database system that stores data in tables(relations), the tables are linked using primary and 
foreign keys and accessed using sql.

## Analogy

Think of an Excel Workbook: 
    Workbook -> Database 
    Sheets -> Tables 
    Rows -> Records 
    Columns -> Attributes 
Relationships between sheets using IDs = RDBMS relationships.

## Example

MySQL
PostgreSQL
Oracle
SQL Server

## HOW-

RDBMS works by:
    Storing data in tables 
    Enforcing constraints 
    Using SQL for operations 
    Maintaining relationships using keys.

## Syntax(Basic Flow)

Application → SQL → RDBMS → Tables → Result

## Example Query

SELECT e.name, d.dept_name
FROM employees e
JOIN departments d
ON e.dept_id = d.dept_id;

## When to Use

Banking systems

ERP systems

Transaction-heavy apps

## Real-World Example

# Banking System

Accounts, transactions, customers

Requires ACID

# University Database

Students ↔ Courses ↔ Professors

## Summary

RDBMS stores data in tables

Uses SQL for querying

Enforces relationships

Supports ACID transactions

Ensures data integrity

Widely used in real-world apps

# RDBMS Concepts(Core)

Tables & Relationships
Normalization
Constraints 
Transactions
Indexes
Views

# Nosql DB - Not Only SQL DB

NoSQL stands for "Not Only SQL".
Nosql is a non-relational database designed to store and manage large-scale, unstructured or semi-structured data with 
high performance and scalability.
It does not rely on tables, rows and columns unlike RDBMS.

## Example

MongoDB
Cassandra
Redis
DynamoDB

## Analogy

Think of a wardrobe vs a suitcase: 
    RDBMS - Wardrobe with fixed shelves(strict structure) 
    NoSQL - Suitcase where items fit flexibly. 
NoSQL is flexible and fast when structure keeps changing.

## HOW -

NoSQL stores data in different models, not just tables.

## Syntax(Basic Flow)

Application → NoSQL DB → Distributed Storage → Result

## Example Query

db.users.insertOne({
  name: "Alice",
  age: 25,
  skills: ["Python", "SQL"]
})

here,
db.users - Collection name
insertOne() - Insert operation 
JSON Object - Flexible document

## When to Use

Real-time applications

Big data systems

IoT and analytics

Rapidly evolving schemas

## Real-World Example

# Social Media

Posts, comments, likes (MongoDB)

# IoT Systems

Sensor data stored in NoSQL

## Summary

NoSQL = Not Only SQL

Non-relational databases

Flexible schema

Horizontally scalable

Types: Document, Key-Value, Column, Graph

Used in big data and real-time apps

# Note

NoSQL databases are built for scale, speed, and flexibility, making them ideal for modern, 
data-intensive applications.

# Nosql DB Types

## Document-Based

db.products.find({ price: { $gt: 1000 } })

Stores JSON-like documents.
Example: MongoDB

## Key-Value Stores

key = "user123"
value = "{name:'John', age:30}"

Stores key-value pairs.
Example: Redis

## Column-Family Stores

RowKey | name | age

Stores data in columns.
Example: Cassandra

## Graph Databases

(User)-[FRIEND]->(User)

Stores relationships.
Example: Neo4j

## Full Example(MongoDB CRUD)

db.users.insertOne({ name: "Bob", age: 30 })
db.users.find({ age: { $gt: 25 } })
db.users.updateOne({ name: "Bob" }, { $set: { age: 31 } })
db.users.deleteOne({ name: "Bob" })

# Good to Know

## NewSQL

SQL + scalability

Used for High-performance transactions

It is a modern relational database that blend the best of traditional SQL databases (like ACID compliance, 
SQL interface) with the scalability of NoSQL systems.
It offers high performance for online transaction processing (OLTP) without sacrificing data consistency. 
It is ideal for large-scale, real-time applications needing reliability.

Example
CockroachDB, NuoDB, VoltDB, Vitess, and YugabyteDB.

# In-Memory Db

An In-Memory Database(IMDB) is a database that stores data directly in the system's RAM(memory) instead of on disk.
Often used as cache or real-time store

## Analogy

Think of studying from memory vs reading from a book: 
    Memory -> RAM(very fast) 
    Book -> Disk(slower) 
In-memory databases work like thinking instantly instead of searching pages.

## Example

Redis
Memcached
SAP HANA
SingleStore (MemSQL)

## HOW-

IMDB works by: 
    Loading data into RAM 
    Processing queries directly in memory 
    Optionally persisting data to disk for durability or backup.

## Syntax(Basic Flow)

Application → RAM (IMDB) → Optional Disk Backup

## Example Query

SET user:1 "Alice"
GET user:1

here, 
SET user:1 "Alice" - Stores data in memory
GET user:1 - Retrieves data

## When to Use

Caching

Real-time analytics

Session management

Gaming and IoT

## Real-World Example

# E-commerce

Cart data stored in Redis

# Social Media

Likes, sessions, counters

## Summary

In-memory DB stores data in RAM

Extremely fast access

Used for caching and real-time systems

Examples: Redis, Memcached

Limited by memory size

Often combined with disk persistence

# SQL - Structured Query Language

SQL is a query language used to interact with relational databases that are managed by RDBMS.
It allow us to store, retrieve, update and manage data in databases.
SQL - Query language
RDBMS - Software system like mysql and so on.

It is a declarative language meaning we tell the database what result(outcome) we want and not tell the step by step 
procedure to get the outcome.
It is the foundation of data handling in almost every data-driven application.

## Analogy

Think of SQL as English for databases: 
    You ask questions -> SQL queries 
    Databases responds -> Query results 
Just like English helps humans communicate, SQL helps humans to communicate with databases.

## Example

Used in: 
    MySQL
    PostgreSQL
    Oracle
    SQL Server

## HOW -

SQL works by sending commands(queries) to the database.

## Syntax(Basic Flow)

User → SQL Query → DBMS → Database → Result

Basic Syntax:

SELECT column_name
FROM table_name
WHERE condition;

## Example Query

SELECT name, salary
FROM employees
WHERE salary > 50000;

## When to Use

Any relational database

Data analysis

Backend systems

## Real-World Example

# Banking System 

SELECT * FROM transactions WHERE account_id = 101;

# Data Analytics 

SELECT department, AVG(salary)
FROM employees
GROUP BY department;

## Summary

SQL = Structured Query Language

Used with RDBMS

Declarative language

Supports DDL, DML, DQL, DCL, TCL

Essential for data professionals

Widely used in industry

# Facts

Even though SQL is declarative, the database still executes procedural steps internally. 

SQL Query
   ↓
Parser
   ↓
Optimizer
   ↓
Execution Plan
   ↓
Results

The query optimizer decides:
    Use index or not
    Join order
    Join type
    Parallelism
You never control this directly.

# Is SQL purely declarative?

Not fully.
SQL has procedural extensions:
    PL/SQL (Oracle)
    T-SQL (SQL Server)
    Stored procedures
    Triggers

## Example

IF salary > 60000 THEN
   UPDATE bonus = 10000;
END IF;

So,
SQL core = declarative
Extensions = procedural

## Analogy

# Restaurant
You: “I want a pizza” (WHAT)
Chef decides how to cook (HOW)

You don’t tell:
    How much heat
    Cooking time
    Order of steps

# SQL Command Types

DDL (Data Definition Language)
DML (Data Manipulation Language)
DQL (Data Query Language)
DCL (Data Control Language)
TCL (Transaction Control Language)

# DDL - Data Definition Language

DDL is a set of SQL commands used to define and manage the structure of a database.
It deals with tables, columns, databases, schema rules.
DDL does not work with actual data, it works with structure only.

Think of DDL as a architect's blueprint of a building: 
    Before people live inside(data), 
    You must design rooms, walls, doors(tables, columns, constraints)

MAIN DML COMMANDS:
    CREATE
    ALTER
    DROP
    TRUNCATE
    RENAME

## Without

No DDL, No Database
Without DDL: 
    No tables
    No columns 
    No database design

## Analogy

DDL is like designing a house 
    CREATE - Build the house 
    ALTER - Add a room or window 
    DROP - Demolish the house 
    TRUNCATE - Empty the house but keep it standing.

## How-

DDL works on metadata
It is auto-committed(Cannot rollback easily) 
Changes are permanent

## Syntax

CREATE TABLE table_name (...);

## Example Query

CREATE TABLE employees (
    id INT,
    name VARCHAR(50),
    salary INT
);

## When to Use

Initial database setup

Schema changes

Structural cleanup

## Real-World Example

### 🏢 Company Setup

CREATE TABLE departments (
    dept_id INT,
    dept_name VARCHAR(50)
);

Used during:
    ERP setup
    HR systems

### 🏥 Hospital Update

ALTER TABLE patients ADD blood_group VARCHAR(5);

Used when:
New medical requirement added

### 🧹 Log Cleanup

TRUNCATE TABLE logs;

Used when:
    Logs become huge
    Data not needed

## Summary

DDL = Data Definition Language

Works on structure

Auto-committed

Commands: CREATE, ALTER, DROP, TRUNCATE, RENAME

Powerful and irreversible

Foundation of databases

"DDL works on structure, not on actual data"
DDL = Blueprint; DML = daily usage.

# All Operations of DDL

| Command  | Purpose          |
| -------- | ---------------- |
| CREATE   | Create object    |
| ALTER    | Modify structure |
| DROP     | Delete object    |
| TRUNCATE | Remove all rows  |
| RENAME   | Rename object    |

## 1️⃣ CREATE

CREATE TABLE students (
    id INT,
    name VARCHAR(30)
);

Creates tables/databases

## 2️⃣ ALTER

ALTER TABLE students ADD age INT;

Modify structure

## 3️⃣ DROP

DROP TABLE students;

Deletes structure + data

## 4️⃣ TRUNCATE

TRUNCATE TABLE students;

Deletes only data

## 5️⃣ RENAME

RENAME TABLE students TO learners;

Renames table

## All Operations Combined

CREATE TABLE demo (id INT);
ALTER TABLE demo ADD name VARCHAR(20);
TRUNCATE TABLE demo;
RENAME TABLE demo TO demo_new;
DROP TABLE demo_new;

# DML - Data Manipulation Language

DML is a set of SQL commands used to manipulate rows(records) in a table.
It is used to insert new data, update existing data, deleting data and reading data in a table.

Main DML commands: 
    INSERT - Add data 
    UPDATE - Modify data 
    DELETE - Remove data 
    SELECT - Read data(part of DQL, But commonly taught under DML)

## Without

Tables exist but stay empty
No reports, No analytics, No applications 
Data becomes read-only structure

## Analogy

Think of a database table as a notebook: 
    DDL creates the notebook 
    DML is writing, editing, erasing and reading pages in that notebook. 
Without DML, the notebook exists but you can't write anything in it.

## HOW -

DML commands operates row by row. 
Changes can be committed or rolled back. 
Works inside transactions.

## Syntax

INSERT INTO table_name VALUES (...);
UPDATE table_name SET column = value WHERE condition;
DELETE FROM table_name WHERE condition;
SELECT * FROM table_name;

## Example Query

INSERT INTO employees VALUES (1, 'Arun', 'IT', 50000);

## When to Use

CRUD operations

Reporting

User-driven applications

## Real-World Example

### 🏦 Banking System

UPDATE accounts SET balance = balance - 500 WHERE acc_no = 101;

Used during money withdrawal

### 🛒 E-commerce

INSERT INTO orders VALUES (5001, 101, 'Laptop');

New order placed

### HR Management

SELECT * FROM employees WHERE department = 'IT';

Employee reporting

## Summary

DML manipulates table data

Core commands: INSERT, SELECT, UPDATE, DELETE

Supports transactions

Dangerous without WHERE

Backbone of real-world SQL usage

# All Operations of DML

| Command | Purpose     |
| ------- | ----------- |
| INSERT  | Add data    |
| SELECT  | Read data   |
| UPDATE  | Modify data |
| DELETE  | Remove data |

-- INSERT
INSERT INTO students VALUES (101, 'Amit', 85);

-- SELECT
SELECT name, marks FROM students;

-- UPDATE
UPDATE students SET marks = 90 WHERE id = 101;

-- DELETE
DELETE FROM students WHERE id = 101;

# DQL - Data Query Language

DQL is used to retreive data from a database without changing it.

Main Command: 
    SELECT

## Without

Data exists in tables 
But you cannot view or analyze it
Database becomes a locked box

## Analogy

Imagine a library: 
    Books - Data 
    Shelves - Tables 
    DQL - Asking the librarian questions 
You are only reading, not writing or tearing pages.

## HOW -

Reads data from tables 
Does not modify data 
Can filter, sort, group and aggregate results

## Syntax

SELECT column1, column2
FROM table_name
WHERE condition;

## Example Query

SELECT name, salary
FROM employees
WHERE salary > 30000;

## When to Use

Reports

Dashboards

Data analysis

Debugging data issues

## Real-World Example

### HR Dashboard

SELECT department, COUNT(*) FROM employees GROUP BY department;

Shows employee count per department

### Banking Reports

SELECT * FROM transactions WHERE amount > 100000;

Detects large transactions

### E-commerce Analytics

SELECT product_id, SUM(quantity)
FROM orders
GROUP BY product_id;

Finds best-selling products

## Summary

DQL = Data Query Language

Main command: SELECT

Used for reading & analyzing data

Safe and non-destructive

Backbone of reporting systems

# All Operations

## DQL Operations (Clauses)

| Clause   | Purpose         |
| -------- | --------------- |
| SELECT   | Choose columns  |
| FROM     | Choose table    |
| WHERE    | Filter rows     |
| ORDER BY | Sort results    |
| GROUP BY | Group rows      |
| HAVING   | Filter groups   |
| LIMIT    | Restrict output |

## Query Using All DQL Clauses

SELECT department, COUNT(*) AS emp_count
FROM employees
WHERE salary > 30000
GROUP BY department
HAVING COUNT(*) > 2
ORDER BY emp_count DESC
LIMIT 5;

# DCL - Data Control Language

DCL is used to control access and permissions in a database.
It decides who can access data and what actions they can perform.

Main DCL commands: 
    GRANT 
    REVOKE

## Without

Everyone gets full access 
High risk of data deletion 
No security or control 
Violates compliance rules

## Analogy

Think of a company building: 
    Rooms - Tables 
    Employees - Users 
    DCL - Security guards & access cards 
Some people can enter, some can edit, some can only view.

## HOW -

DCL assigns permissions to users or roles 
Control operations like SELECT, INSERT, UPDATE, DELETE 
Works at table, database, or column level.

## Syntax

GRANT permission ON object TO user;
REVOKE permission ON object FROM user;

## Example Query

GRANT SELECT, INSERT ON employees TO analyst; # grants permissions to analyst to read & add access
REVOKE INSERT ON employees FROM analyst; # removes data insertion permissions from analyst

## When to Use

Multi-user databases

Production environments

Compliance & security systems

## Real-World Example

### Data Analyst Access

GRANT SELECT ON sales TO analyst;

Analyst can view reports only

### HR System

GRANT SELECT, UPDATE ON employees TO hr_user;

HR can update employee records

### Production Safety

REVOKE DELETE ON orders FROM intern;

Prevents accidental data loss

## Summary

DCL = Data Control Language

Controls access & permissions

Key commands: GRANT, REVOKE

Improves security

Mandatory in multi-user DBs

# All Operations of DCL

| Command | Purpose            |
| ------- | ------------------ |
| GRANT   | Give permissions   |
| REVOKE  | Remove permissions |

Permissions include:
    SELECT
    INSERT
    UPDATE
    DELETE
    ALL

## Working Code with DCL Operations

-- Grant read access
GRANT SELECT ON orders TO user1;

-- Grant full access
GRANT ALL ON customers TO admin;

-- Revoke delete permission
REVOKE DELETE ON customers FROM user1;

## CREATE USER

create user 'student_user'@'localhost' identified by 'password123';

## Delete User

drop user 'student_user'@'localhost';

Condition:

drop user if exists 'student_user'@'localhost';

## Check User existence

select user, host from mysql.user;

# Good To Know

## Roles

## Create Role

CREATE ROLE read_only;
GRANT SELECT ON employees TO read_only;
GRANT read_only TO user2;

When to Use:
    Large organizations

## Delete Role

drop role analyst_role;

## Remove Role from an User

REVOKE analyst_role FROM 'user1'@'localhost';

## If role was set as default, You may also want to remove it from default roles:

SET DEFAULT ROLE NONE TO 'user1'@'localhost';

## Roles are not active by default in mysql(8+ only), so we need to activate it.

## Main session

SET DEFAULT ROLE student_role TO 'student_user'@'localhost';

## User session

set role student_role;

## Check Role Grants/privileges

SHOW GRANTS FOR student_role;

## Check User Grants

SHOW GRANTS FOR 'student_user'@'localhost';

# TCL - Transaction Control Language

TCL is used to manage transactions, meaning it controls when changes are saved permanently or undone.

Main TCL commands: 
    COMMIT 
    ROLLBACK 
    SAVEPOINT

## Without

Every change becomes permanent instantly 
No undo option 
High risk of data corruption 
System failure cause inconsistent data

## Analogy

Think of shopping online: 
    Adding items to cart -> Changes not final 
    Clicking "Pay Now" -> Changes saved 
    Clicking "Cancel" -> Changes undone 
TCL is the Pay(commit)/Cancel(rollback)/Checkpoint(savepoint) system for databases.

## HOW -

Groups multiple SQL statements into a transaction 
Allows undo until committed 
Works closely with ACID properties

## Syntax

COMMIT;
ROLLBACK;
SAVEPOINT savepoint_name;

## Example Query

BEGIN; # starts a transaction

UPDATE accounts SET balance = balance - 500 WHERE acc_no = 101; # Modifies balances
UPDATE accounts SET balance = balance + 500 WHERE acc_no = 102;

SAVEPOINT transfer_done; # Creates a checkpoint

COMMIT; # Saves changes permanently

## When to Use

Financial transactions

Multi-step updates

Critical operations

## Real-World Example

### Bank Transfer

UPDATE accounts SET balance = balance - 1000 WHERE acc_no = 1;
UPDATE accounts SET balance = balance + 1000 WHERE acc_no = 2;
COMMIT;

Ensures atomic transfer

### Order Processing

INSERT INTO orders VALUES (101, 'Phone');
ROLLBACK;

Cancels failed order

### Inventory Update

SAVEPOINT stock_update;

Partial safety during bulk updates

## Summary

TCL = Transaction Control Language

Manages commits and rollbacks

Prevents data inconsistency

Works with ACID properties

Essential for critical systems

# All Operations of TCL

| Command   | Purpose           |
| --------- | ----------------- |
| COMMIT    | Save changes      |
| ROLLBACK  | Undo changes      |
| SAVEPOINT | Create checkpoint |

## Working Code with All TCL Operations

BEGIN;

INSERT INTO orders VALUES (1, 'Laptop');
SAVEPOINT order_added;

DELETE FROM orders WHERE id = 1;
ROLLBACK TO order_added;

COMMIT;

## Disable AutoCommit

SET autocommit = 0;

## Enable AutoCommit

SET autocommit = 1

## Rollback

begin;
delete....;
rollback;
commit;

## Rollback to savepoint

begin;
insert....;
savepoint savepoint_name;
delete....;
rollback to savepoint_name;
commit;

# Keys

Keys are columns or combination of columns that uniquely identifies rows and create relationships between tables 
in a database.

## Without

Duplicate records 
Broken relationships 
Incorrect reports 
Data inconsistency

## Analogy

Think of a school: 
    Student name -> Can repeat 
    Roll number -> unique 
Keys are like roll numbers, they uniquely identify records.

## HOW -

Defined during table creation 
Enforced by database engine 
Automatically prevent invalid data.

## Syntax

CREATE TABLE students (
  id INT PRIMARY KEY,
  email VARCHAR(100) UNIQUE
);

## Example Query

CREATE TABLE orders (
  order_id INT PRIMARY KEY,
  customer_id INT,
  FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);

## When to Use

Every relational database

Multi-table systems

Production environments

## Real-World Example

### Banking System

account_number PRIMARY KEY

Identifies bank accounts uniquely

### E-commerce

FOREIGN KEY (user_id) REFERENCES users(id)

Links orders to users

### College Database

PRIMARY KEY (student_id, subject_id)

Tracks enrollments

## Summary

Keys identify rows uniquely

Primary key = main identifier

Foreign key = relationship builder

Composite keys use multiple columns

Keys are mandatory for RDBMS design

# Key Types

| Key Type      | Purpose               |
| ------------- | --------------------- |
| Primary Key   | Unique row identifier |
| Foreign Key   | Connects tables       |
| Candidate Key | Possible primary keys |
| Super Key     | Any unique identifier |
| Composite Key | Multiple columns      |
| Unique Key    | Prevent duplicates    |
| Natural Key   | Real-world identifier |
| Surrogate Key | Artificial ID         |

CREATE TABLE users (
  user_id INT PRIMARY KEY,
  email VARCHAR(100) UNIQUE,
  phone VARCHAR(15),
  username VARCHAR(50),
  UNIQUE (phone, username)
);

# Primary Key

A Primary key is a column or combination of columns that uniquely identifies each row in a table.
It cannot be NULL and only one per table.

It can be single column(id). 
It can be multiple column(composite primary key)

## Without

Duplicate records 
Difficult update/deletes 
Foreign keys cannot reference properly 
Data integrity breaks

## Analogy

Think of an Aadhaar number/Roll number: 
    Names can repeat 
    Addresses can change 
    Aadhar number is unique 
A primary key is the aadhaar number of a table.

## HOW -

Enforced by the database engine 
Automatically creates a unique index 
Rejects duplicate or NULL values

## Syntax

PRIMARY KEY (column_name)

## Example Query

CREATE TABLE students (
  student_id INT PRIMARY KEY,
  name VARCHAR(50),
  email VARCHAR(100)
);

## 📌When to Use

Every relational table

Frequently queried tables

Relationship-based databases

## Real-World Example

### Banking

account_number PRIMARY KEY

Identifies accounts uniquely

### E-commerce Orders

order_id PRIMARY KEY

Tracks orders

### College Enrollment

PRIMARY KEY (student_id, subject_id)

Prevents duplicate enrollments

## Summary

Primary key = unique identifier

No NULLs allowed

One per table

Can be composite

Automatically indexed

# Ways to Define a Primary Key

## M1: Column-Level Primary Key (Single Column)

Primary key defined next to the column.

### Example

CREATE TABLE students (
  student_id INT PRIMARY KEY,
  name VARCHAR(50)
);

📌Use when: One column uniquely identifies rows.

## M2: Table-Level Primary Key (Single Column)

Primary key defined after all columns.

### Example

CREATE TABLE students (
  student_id INT,
  name VARCHAR(50),
  PRIMARY KEY (student_id)
);

📌Use when: You want cleaner or more flexible design.

## M4: Composite Primary Key (Multiple Columns)

Uses combination of columns to ensure uniqueness.Join tables for keys

### Example

CREATE TABLE enrollments (
  student_id INT,
  course_id INT,
  PRIMARY KEY (student_id, course_id)
);

📌 Use when: No single column is unique.

## M4: Primary Key Using ALTER TABLE

Primary key added after table creation.

### Example

ALTER TABLE students
ADD PRIMARY KEY (student_id);

📌 Use when: Table already exists.

## Working Code with All Methods

CREATE TABLE orders (
  order_id INT,
  product_id INT,
  PRIMARY KEY (order_id, product_id)
);

ALTER TABLE customers
ADD PRIMARY KEY (customer_id);

# Foreign Key

A Foreign key(FK) is a column or group of columns of one table that refers to the primary key of another table
It is used to establish relationships between tables.

## Without

Orders can exist without customers 
Students can enroll in non-existent courses 
Data becomes unreliable and messy.

## 🧠Analogy

Think of a foreign key like a child's school id card: 
    The school already exists(parent table) 
    The id card must refer to a valid school 
    You cannot issue an ID for a non-existent school 
Similarly, a foreign key ensures a record must refer to an existing record in another table.

## HOW -

Parent table - Has primary key 
Child table - Has foreign key 
Database checks: 
    Insert -> parent record exists? 
    Update/Delete -> allowed or restricted?

## Syntax

FOREIGN KEY (column_name)
REFERENCES parent_table(primary_key)

## Example Query

CREATE TABLE customers(
    customer_id INT PRIMARY KEY, 
    name VARCHAR(50)
); 

CREATE TABLE orders(
    order_id INT PRIMARY KEY, 
    customer_id INT, 
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);

## 📌When to Use

✔ When tables are related
✔ When data accuracy matters
✔ In normalized databases

## Real-World Example

### E-commerce

orders.customer_id → customers.customer_id

Ensures every order belongs to a valid customer.

### University System

enrollments.student_id → students.student_id

Prevents enrollment of fake students.

### Banking

transactions.account_id → accounts.account_id

Guarantees valid accounts.

## Summary

Foreign Key links tables

Refers to Primary Key

Prevents invalid data

Supports normalization

Can cascade updates/deletes

Essential for RDBMS integrity

# All Ways to Define Foreign Key

## M1: Column-Level Foreign Key (Inline)

Defined inside the column definition.

### Example Query

CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    customer_id INT REFERENCES customers(customer_id)
);

## M2: Table-Level Foreign Key (Recommended)

Defined after all columns.

### Example Query

CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);

## M3: Composite Foreign Key (Multiple Columns)

### Example Query

FOREIGN KEY (order_id, product_id)
REFERENCES order_items(order_id, product_id)

## M4: Foreign Key Using ALTER TABLE

Used after table creation.

### Example Query

ALTER TABLE orders
ADD CONSTRAINT fk_customer
FOREIGN KEY (customer_id)
REFERENCES customers(customer_id);

## M5: Foreign Key with ON DELETE / ON UPDATE

Deletes/updates child rows automatically

### Example Query

FOREIGN KEY (customer_id)
REFERENCES customers(customer_id)
ON DELETE CASCADE
ON UPDATE CASCADE

## M6: Named Foreign Key Constraint

### Example Query

CONSTRAINT fk_orders_customers
FOREIGN KEY (customer_id)
REFERENCES customers(customer_id)

## M7: Self-Referencing Foreign Key

### Example Query

FOREIGN KEY (manager_id)
REFERENCES employees(employee_id)

Used in:
    Employee hierarchy
    Category trees

# Foreign Key Actions

| Action               | Meaning                         |
| -------------------- | ------------------------------- |
| `ON DELETE CASCADE`  | Delete child rows automatically |
| `ON DELETE SET NULL` | Set FK to NULL                  |
| `ON DELETE RESTRICT` | Block delete                    |
| `ON UPDATE CASCADE`  | Update child rows               |

## ON DELETE NO ACTION

Similar to RESTRICT (default behavior).

Behavior: 
    Checks constraint at end of statement
    Delete fails if child exists

### Example Query

ON DELETE NO ACTION

## ON DELETE SET DEFAULT

Sets FK to default value.

### Example Query

ON DELETE SET DEFAULT

Eg:
Default customer_id = 0

## All-in-One Example

FOREIGN KEY (customer_id)
REFERENCES customers(customer_id)
ON DELETE CASCADE
ON UPDATE CASCADE;

# Candidate key

# Super key

# Composite key

# Unique key

# Natural key

# Surrogate key

# SQL Execution Order