# Data Modeling

A structured way of representing data using diagrams or schemas

It is the technique of creating a blueprint for data storage, retrieval, relationships and rules.
It is the process of organising data into a clear structure for data storage, retrieval, relationships and rules.

Data modelling involves three levels: 
    Conceptual model - High-level overview(Entities like "Customer", "Order")
    Logical model - Detailed-structure(attributes, primary/foreign keys)
    Physical model - Actual Database tables, data types, indexes. 
we usually create ER(Entity-Relationship diagrams) to represent these.

## Analogy

Think of data modelling like designing a house blueprint:
    Before building the house(database), an architect creates the design.
    They plan which rooms exist(tables), 
    What each room contains(Columns), 
    How the rooms connect(relationships), 
    and what rule must be followed(constraints).
Without a blueprint, the building might collapse, 
Without a data model, your database becomes messy, slow and confusing.

Client discusses needs - Conceptual model (E-R) (Customer — places — Order)
Architect draws blueprint - Logical model (attributes of ER) (CUSTOMER(cust_id, name, email), ORDER(order_id, order_date, cust_id FK))
Engineer constructs building - Physical model (db with tables, datatypes, indexes) (SQL: CREATE TABLE Customer (cust_id INT PRIMARY KEY, name VARCHAR(50), email VARCHAR(100));)

## Syntax

Data modelling follows a structured workflow:

1.Identifying Entities(Tables)
Example: Customers, Orders, Products

2.Defining Attributes(Columns)
Customer -> name, age, email
Order -> order_data, amount

## Example

# Simple Customer-Order relationship

CREATE TABLE Customer(
    customer_id INT PRIMARY KEY, 
    name VARCHAR(50), 
    email VARCHAR(50) UNIQUE
);

CREATE TABLE Orders(
    order_id INT PRIMARY KEY, 
    customer_id INT, 
    amount DECIMAL(10, 2)
    FOREIGN KEY (customer_id) REFERENCES Customer(customer_id)
);

## All Operations

Data modelling involves several design steps:
    Entites(tables)
    Attributes(Columns)
    Relationships
    Constraints
    Normalization
    Denormalization 
    Physical model

Identifying Entites(tables):
    Example: Customer, Order, Product

Defining Attributes(Columns):
    Examples: 
        Customer -> name, email, phone
        Order -> order_date, amount

Determining Relationships:
    Types:
        One-to-One(1:1)
        One-to-Many(1:M)
        Many-to-Many(M:M)
Example:
    Customer(1) -> Orders(Many)

Applying Constraints:
    Primary key
    Foreign key
    Unique
    Not Null
    check

Normalization:
    Remove redundancy:
        1NF -> Remove repeating data 
        2NF -> Partial dependencies removed 
        3NF -> Transitive dependencies removed

Denormalization:
    Opposite of normalization - used for speed.
    Example: duplicating data for faster reads in analytics databases

Creating the physical model(SQL implementation)

Full sql code:

CREATE TABLE Product (
    product_id INT PRIMARY KEY,
    name VARCHAR(100),
    price DECIMAL(10,2)
);

CREATE TABLE Customer (
    customer_id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(50) UNIQUE
);

CREATE TABLE Orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    product_id INT,
    quantity INT,
    order_date DATE,
    FOREIGN KEY (customer_id) REFERENCES Customer(customer_id),
    FOREIGN KEY (product_id) REFERENCES Product(product_id)
);

## Real-World example

E-commerce website:
    Model customers, orders, products
    Build recommendation systems

Banking system:
    Model accounts, transactions, users.
    Maintain accuracy and security

Hospital Management:
    Patients, doctors, appointments.

Netflix-like system:
    Users, movies, ratings

## Summary

Data modelling = blueprint of data

It has conceptual, logical, and physical levels

Includes entities, attributes, relationships, constraints

SQL tables are the physical implementation

Normalization removes redundancy

Dimensional modelling used in analytics

NoSQL modelling focuses on flexibility

Essential for data engineering, analytics, BI

# Normalization

It is a process of organizing data across multiple related tables to remove redundancy and maintain data integrity.

Normalization is a data modelling and database design technique used to arrange data in tables in such a way that 
repetition(redundancy) is minimized and data becomes more consistent and reliable(data integrity).

HOW - 
It breaks large unorganized table into multiple linked tables using keys(primary/foreign keys).
This process is applied step-by-step using Normal Forms(1NF->2NF->3NF->BCNF->...)

## Analogy

Imagine a supermarket inventory sheet: 
    If we write suppliers address every time for each item, the sheet becomes long, inconsistent and error-prone.
    Instead, we create a supplier list and link each item to a supplier.Now the information is clean, simple and always accurate.

Normalization does the same for databases, it removes the repeating information and organizes data properly.

## Example

CREATE TABLE Customer (
    customer_id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(50) UNIQUE
);
# Separate customer data to remove repetitions problems(1NF)

CREATE TABLE Product (
    product_id INT PRIMARY KEY,
    name VARCHAR(50),
    price DECIMAL(10,2)
);

CREATE TABLE Orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    product_id INT,
    FOREIGN KEY (customer_id) REFERENCES Customer(customer_id),
    FOREIGN KEY (product_id) REFERENCES Product(product_id)
);

# Orders linked to valid customer to prevent orphan orders
# Orders linked to valid product to maintain consistency.

# All Normalization Methods

Normalization is done step-by-step using Normal Forms(NF).
    1NF
    2NF
    3NF
    BCNF(Boyce-Codd NF)

## Real-World Example

E-commerce:
    One customer table, many orders
Banking:
    One user table, many transactions

## Summary

Normalization = organize data to reduce redundancy & anomalies

Uses Normal Forms (1NF → 2NF → 3NF → BCNF)

Improves consistency, accuracy, and data integrity

Best for OLTP systems like banking and e-commerce

Denormalization & Star Schema used in analytics

Excessive normalization → more joins → slower queries

# Normal Forms

A table is in 1NF when each column has atomic(single) values and there are no repeating groups(multiple values in one cell) 
or duplicate columns.

repeating group is for subject math, science.here, subject repeats but not values like math, math kind of repeated. so 
repeating group means subject is repeated but not values.

1NF converts multi-values columns into:
    separate rows or separate tables.

Unnormalized table(Not in 1NF):

| student_id | name  | subjects               |
| ---------- | ----- | ---------------------- |
| 1          | John  | Math, Science, English |
| 2          | Priya | Math, Physics          |

here, subjects contains multiple values

After applying 1NF:

| student_id | name  | subject |
| ---------- | ----- | ------- |
| 1          | John  | Math    |
| 1          | John  | Science |
| 1          | John  | English |
| 2          | Priya | Math    |
| 2          | Priya | Physics |

## Analogy

Imagine a school attendance register:
    Each student should occupy only one row per date.
    You cannot write present, future in the same cell. - that becomes confusing.
    So every cell should contain only one value, not multiple values.

This is exactly what 1NF ensures, no multiple values in a single cell and no repeating columns in a table.

## Example

create table students(
    studentid INT PRIMARY KEY, 
    studentname VARCHAR(50), 
    subject VARCHAR(50)
);

## Summary

1NF = atomic values + no repeating groups

Each row-column intersection contains one value only

Multi-valued columns must be split into separate rows or tables

1NF is the first mandatory step of normalization

Makes querying easier, faster, and more accurate

Essential for clean and reliable database design

# 2NF

It is the second stage of database normalization.
Normalizes enters 2NF only after 1NF is complete.
It focuses on removing partial dependency i.e.,no non-key column should depend on part of the composite primary key 
instead of the whole key.

| student_id | course_id | course_name | marks |
| ---------- | --------- | ----------- | ----- |
| 1          | C1        | DBMS        | 90    |
| 2          | C1        | DBMS        | 85    |
| 1          | C2        | Networks    | 88    |

here, student_di and course_id are primary composite keys.
course_name depends only on course_id, not on the whole key(partial dependency) which violates 2NF.

Composite key is nothing but a combination of primary keys.Primary keys are unique identifiers of a column.

Fix would be:
 table courses with course_id and course_name and another table marks with student_id, course_id and marks.

## Analogy

Think of a pizza order slip:
    Order has order number and item number.
    But the price of the item depends only on the item - not on the order(partial dependency).

So the price should not be stored in an order detail row because the dependency is partial and belongs to 
another place(product table).
2NF fixes problems like this by moving attributes to the table they truly depend on.

## Example

CREATE TABLE Courses (
    course_id VARCHAR(10) PRIMARY KEY,
    course_name VARCHAR(50)
);

CREATE TABLE StudentsCourses (
    student_id INT,
    course_id VARCHAR(10),
    marks INT,
    PRIMARY KEY (student_id, course_id),
    FOREIGN KEY (course_id) REFERENCES Courses(course_id)
);

## Summary

2NF = 1NF + No partial dependency

Applies only if primary key is composite

Non-key columns must depend on the whole key

Fix: move partially dependent attributes to new tables

Reduces redundancy & data anomalies

Foundation for 3NF

# 3NF

It is the third stage of normalization.
It ensures that no transitive dependency is present.
Transitive dependency means no non-key columns should depend on another non-key columns.

Before 3NF:

| StudentID | StudentName | CourseID | CourseName | Instructor |
| --------- | ----------- | -------- | ---------- | ---------- |
| 101       | Alex        | C001     | DBMS       | Dr. Smith  |
| 102       | John        | C001     | DBMS       | Dr. Smith  |
| 103       | Mary        | C002     | Networking | Dr. Brown  |

here, 
    CourseName depends on CourseID
    Instructor depends on CourseID
      So student table stores data that depends on CourseID - Transitive dependency.

After applying 3NF:

Students table
| StudentID | StudentName | CourseID |
| --------- | ----------- | -------- |
| 101       | Alex        | C001     |
| 102       | John        | C001     |
| 103       | Mary        | C002     |

Courses table
| CourseID | CourseName | Instructor |
| -------- | ---------- | ---------- |
| C001     | DBMS       | Dr. Smith  |
| C002     | Networking | Dr. Brown  |

## Analogy

Think of a school timetable:
    A subject belongs to a teacher.
    A teacher belongs to a department.
    If every student's record also stores the department name, mistakes can happen.
Instead of repeating department name everywhere, store it separately.

3NF works like organizing a timetable so each item is stored only where it belongs.

## Example

CREATE TABLE Courses (
  CourseID VARCHAR(10) PRIMARY KEY,
  CourseName VARCHAR(100),
  Instructor VARCHAR(100)
);

CREATE TABLE Students (
  StudentID INT PRIMARY KEY,
  StudentName VARCHAR(100),
  CourseID int not null, 
  FOREIGN KEY (CourseID) REFERENCES Courses(CourseID)
);

## Note

When to Use

✔️ Always use 3NF in OLTP systems like banking, ERP, school management, etc.
❌ Skip 3NF sometimes for analytical / OLAP systems where speed > storage.

## Summary

3NF = 2NF + No transitive dependency

All non-key attributes must depend only on the primary key

Goal → reduce redundancy and update anomalies

Used in OLTP systems (banking, school ERP, e-commerce)

Improves consistency but increases number of tables

Alternatives → BCNF (stricter), Denormalization (performance)

# Boyce-Codd NF