# Data Modeling

A structured way of representing data using diagrams or schemas

It is the technique of creating a blueprint for data storage, retrieval, relationships and rules.
It is the process of organising data into a clear structure for data storage, retrieval, relationships and rules.

Data modelling involves three levels: 
    Conceptual model - High-level overview(Entities like "Customer", "Order")
    Logical model - Detailed-structure(attributes, primary/foreign keys)
    Physical model - Actual Database tables, data types, indexes. 
we usually create ER(Entity-Relationship diagrams) to represent these.

## Analogy

Think of data modelling like designing a house blueprint:
    Before building the house(database), an architect creates the design.
    They plan which rooms exist(tables), 
    What each room contains(Columns), 
    How the rooms connect(relationships), 
    and what rule must be followed(constraints).
Without a blueprint, the building might collapse, 
Without a data model, your database becomes messy, slow and confusing.

Client discusses needs - Conceptual model (E-R) (Customer — places — Order)
Architect draws blueprint - Logical model (attributes of ER) (CUSTOMER(cust_id, name, email), ORDER(order_id, order_date, cust_id FK))
Engineer constructs building - Physical model (db with tables, datatypes, indexes) (SQL: CREATE TABLE Customer (cust_id INT PRIMARY KEY, name VARCHAR(50), email VARCHAR(100));)

## Syntax

Data modelling follows a structured workflow:

1.Identifying Entities(Tables)
Example: Customers, Orders, Products

2.Defining Attributes(Columns)
Customer -> name, age, email
Order -> order_data, amount

## Example

# Simple Customer-Order relationship

CREATE TABLE Customer(
    customer_id INT PRIMARY KEY, 
    name VARCHAR(50), 
    email VARCHAR(50) UNIQUE
);

CREATE TABLE Orders(
    order_id INT PRIMARY KEY, 
    customer_id INT, 
    amount DECIMAL(10, 2)
    FOREIGN KEY (customer_id) REFERENCES Customer(customer_id)
);

## All Operations

Data modelling involves several design steps:
    Entites(tables)
    Attributes(Columns)
    Relationships
    Constraints
    Normalization
    Denormalization 
    Physical model

Identifying Entites(tables):
    Example: Customer, Order, Product

Defining Attributes(Columns):
    Examples: 
        Customer -> name, email, phone
        Order -> order_date, amount

Determining Relationships:
    Types:
        One-to-One(1:1)
        One-to-Many(1:M)
        Many-to-Many(M:M)
Example:
    Customer(1) -> Orders(Many)

Applying Constraints:
    Primary key
    Foreign key
    Unique
    Not Null
    check

Normalization:
    Remove redundancy:
        1NF -> Remove repeating data 
        2NF -> Partial dependencies removed 
        3NF -> Transitive dependencies removed

Denormalization:
    Opposite of normalization - used for speed.
    Example: duplicating data for faster reads in analytics databases

Creating the physical model(SQL implementation)

Full sql code:

CREATE TABLE Product (
    product_id INT PRIMARY KEY,
    name VARCHAR(100),
    price DECIMAL(10,2)
);

CREATE TABLE Customer (
    customer_id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(50) UNIQUE
);

CREATE TABLE Orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    product_id INT,
    quantity INT,
    order_date DATE,
    FOREIGN KEY (customer_id) REFERENCES Customer(customer_id),
    FOREIGN KEY (product_id) REFERENCES Product(product_id)
);

## Real-World example

E-commerce website:
    Model customers, orders, products
    Build recommendation systems

Banking system:
    Model accounts, transactions, users.
    Maintain accuracy and security

Hospital Management:
    Patients, doctors, appointments.

Netflix-like system:
    Users, movies, ratings

## Summary

Data modelling = blueprint of data

It has conceptual, logical, and physical levels

Includes entities, attributes, relationships, constraints

SQL tables are the physical implementation

Normalization removes redundancy

Dimensional modelling used in analytics

NoSQL modelling focuses on flexibility

Essential for data engineering, analytics, BI

# Normalization

It is a process of organizing data across multiple related tables to remove redundancy and maintain data integrity.

Normalization is a data modelling and database design technique used to arrange data in tables in such a way that 
repetition(redundancy) is minimized and data becomes more consistent and reliable(data integrity).

HOW - 
It breaks large unorganized table into multiple linked tables using keys(primary/foreign keys).
This process is applied step-by-step using Normal Forms(1NF->2NF->3NF->BCNF->...)

## Analogy

Imagine a supermarket inventory sheet: 
    If we write suppliers address every time for each item, the sheet becomes long, inconsistent and error-prone.
    Instead, we create a supplier list and link each item to a supplier.Now the information is clean, simple and always accurate.

Normalization does the same for databases, it removes the repeating information and organizes data properly.

## Example

CREATE TABLE Customer (
    customer_id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(50) UNIQUE
);
# Separate customer data to remove repetitions problems(1NF)

CREATE TABLE Product (
    product_id INT PRIMARY KEY,
    name VARCHAR(50),
    price DECIMAL(10,2)
);

CREATE TABLE Orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    product_id INT,
    FOREIGN KEY (customer_id) REFERENCES Customer(customer_id),
    FOREIGN KEY (product_id) REFERENCES Product(product_id)
);

# Orders linked to valid customer to prevent orphan orders
# Orders linked to valid product to maintain consistency.

# All Normalization Methods

Normalization is done step-by-step using Normal Forms(NF).
    1NF
    2NF
    3NF
    BCNF(Boyce-Codd NF)

## Real-World Example

E-commerce:
    One customer table, many orders
Banking:
    One user table, many transactions

## Summary

Normalization = organize data to reduce redundancy & anomalies

Uses Normal Forms (1NF → 2NF → 3NF → BCNF)

Improves consistency, accuracy, and data integrity

Best for OLTP systems like banking and e-commerce

Denormalization & Star Schema used in analytics

Excessive normalization → more joins → slower queries

# Normal Forms

A table is in 1NF when each column has atomic(single) values and there are no repeating groups(multiple values in one cell) 
or duplicate columns.

repeating group is for subject math, science.here, subject repeats but not values like math, math kind of repeated. so 
repeating group means subject is repeated but not values.

1NF converts multi-values columns into:
    separate rows or separate tables.

Unnormalized table(Not in 1NF):

| student_id | name  | subjects               |
| ---------- | ----- | ---------------------- |
| 1          | John  | Math, Science, English |
| 2          | Priya | Math, Physics          |

here, subjects contains multiple values

After applying 1NF:

| student_id | name  | subject |
| ---------- | ----- | ------- |
| 1          | John  | Math    |
| 1          | John  | Science |
| 1          | John  | English |
| 2          | Priya | Math    |
| 2          | Priya | Physics |

## Analogy

Imagine a school attendance register:
    Each student should occupy only one row per date.
    You cannot write present, future in the same cell. - that becomes confusing.
    So every cell should contain only one value, not multiple values.

This is exactly what 1NF ensures, no multiple values in a single cell and no repeating columns in a table.

## Example

create table students(
    studentid INT PRIMARY KEY, 
    studentname VARCHAR(50), 
    subject VARCHAR(50)
);

## Summary

1NF = atomic values + no repeating groups

Each row-column intersection contains one value only

Multi-valued columns must be split into separate rows or tables

1NF is the first mandatory step of normalization

Makes querying easier, faster, and more accurate

Essential for clean and reliable database design

# 2NF

It is the second stage of database normalization.
Normalizes enters 2NF only after 1NF is complete.
It focuses on removing partial dependency i.e.,no non-key column should depend on part of the composite primary key 
instead of the whole key.

| student_id | course_id | course_name | marks |
| ---------- | --------- | ----------- | ----- |
| 1          | C1        | DBMS        | 90    |
| 2          | C1        | DBMS        | 85    |
| 1          | C2        | Networks    | 88    |

here, student_id and course_id are primary composite keys.
course_name depends only on course_id, not on the whole key(partial dependency) which violates 2NF.

Composite key is nothing but a combination of primary keys.Primary keys are unique identifiers of a column.

Fix would be:
 table courses with course_id and course_name and another table marks with student_id, course_id and marks.

## Analogy

Think of a pizza order slip:
    Order has order number and item number.
    But the price of the item depends only on the item - not on the order(partial dependency).

So the price should not be stored in an order detail row because the dependency is partial and belongs to 
another place(product table).
2NF fixes problems like this by moving attributes to the table they truly depend on.

## Example

CREATE TABLE Courses (
    course_id VARCHAR(10) PRIMARY KEY,
    course_name VARCHAR(50)
);

CREATE TABLE StudentsCourses (
    student_id INT,
    course_id VARCHAR(10),
    marks INT,
    PRIMARY KEY (student_id, course_id),
    FOREIGN KEY (course_id) REFERENCES Courses(course_id)
);

## Summary

2NF = 1NF + No partial dependency

Applies only if primary key is composite

Non-key columns must depend on the whole key

Fix: move partially dependent attributes to new tables

Reduces redundancy & data anomalies

Foundation for 3NF

# 3NF

It is the third stage of normalization.
It ensures that no transitive dependency is present.
Transitive dependency means no non-key columns should depend on another non-key columns.

Before 3NF:

| StudentID | StudentName | CourseID | CourseName | Instructor |
| --------- | ----------- | -------- | ---------- | ---------- |
| 101       | Alex        | C001     | DBMS       | Dr. Smith  |
| 102       | John        | C001     | DBMS       | Dr. Smith  |
| 103       | Mary        | C002     | Networking | Dr. Brown  |

here, 
    CourseName depends on CourseID
    Instructor depends on CourseID
      So student table stores data that depends on CourseID - Transitive dependency.

After applying 3NF:

Students table
| StudentID | StudentName | CourseID |
| --------- | ----------- | -------- |
| 101       | Alex        | C001     |
| 102       | John        | C001     |
| 103       | Mary        | C002     |

Courses table
| CourseID | CourseName | Instructor |
| -------- | ---------- | ---------- |
| C001     | DBMS       | Dr. Smith  |
| C002     | Networking | Dr. Brown  |

## Analogy

Think of a school timetable:
    A subject belongs to a teacher.
    A teacher belongs to a department.
    If every student's record also stores the department name, mistakes can happen.
Instead of repeating department name everywhere, store it separately.

3NF works like organizing a timetable so each item is stored only where it belongs.

## Example

CREATE TABLE Courses (
  CourseID VARCHAR(10) PRIMARY KEY,
  CourseName VARCHAR(100),
  Instructor VARCHAR(100)
);

CREATE TABLE Students (
  StudentID INT PRIMARY KEY,
  StudentName VARCHAR(100),
  CourseID int not null, 
  FOREIGN KEY (CourseID) REFERENCES Courses(CourseID)
);

## Note

When to Use

✔️ Always use 3NF in OLTP systems like banking, ERP, school management, etc.
❌ Skip 3NF sometimes for analytical / OLAP systems where speed > storage.

## Summary

3NF = 2NF + No transitive dependency

All non-key attributes must depend only on the primary key

Goal → reduce redundancy and update anomalies

Used in OLTP systems (banking, school ERP, e-commerce)

Improves consistency but increases number of tables

Alternatives → BCNF (stricter), Denormalization (performance)

# Boyce-Codd NF

Boyce-CoddNF ensures that every determinant is a candidate key.
A determinant is any column or set of columns that functionally determines another column.
How - 
Split a table into two or more tables if a non-primary determinant exists.

Imagine giving house keys to different people:
    A key should unlock a house.
    If someone who isn't the rightful owner also has a key, you have a security risk.
Bcnf ensures that only the correct key unlocks the correct house, just like only a candidate key should determine 
other attributes.

## Example

Before BCNF:

| Course   | Instructor | Room |
| -------- | ---------- | ---- |
| DBMS     | Dr. Smith  | R101 |
| Networks | Dr. Brown  | R102 |
| DBMS     | Dr. Smith  | R103 |

Rules:
    A course is always taught by a specific instructor.
    An instructor always teaches in a specific room.
here, instructor is a determinant but not a candidate key.

After BCNF:

CourseInstructor table:

| Course   | Instructor |
| -------- | ---------- |
| DBMS     | Dr. Smith  |
| Networks | Dr. Brown  |

InstructorRoom table:

| Instructor | Room |
| ---------- | ---- |
| Dr. Smith  | R101 |
| Dr. Brown  | R102 |

Each determinant is a candidate key - BCNF achieved.

## Example query

CREATE TABLE CourseInstructor (
  Course VARCHAR(50) PRIMARY KEY,
  Instructor VARCHAR(50)
);

CREATE TABLE InstructorRoom (
  Instructor VARCHAR(50) PRIMARY KEY,
  Room VARCHAR(10)
);

## Summary

BCNF = stronger form of 3NF

Removes anomalies caused by non-primary determinants

Rule: Every determinant must be a candidate key

Reduces redundancy but increases table count

Best for transaction-heavy systems requiring high data integrity

## Note

A candidate key is a column or a combination of columns that uniquely identify each row in a table without containing 
unnecessary attributes.It can act as primary key. (refer: sql glossary for detail)

“A candidate key is a minimal superkey, while a superkey may contain extra attributes. BCNF requires determinants to be superkeys, not necessarily candidate keys.”

# Snowflake Schema

A Snowflake schema is a type of data warehouse schema where dimensions are organised into multiple related tables 
instead of a single wide table.

How - 
    Dimensions are broken into multiple tables based on relationships.

               Product_Subcategory
                        |
         Product_Category --- Product
                       \          |
                        \         |
                        Fact_Sales

## Analogy

Imagine you are organising your cupboard:

Star schema cupboard:
    You put all your clothes of one category(eg: shirts) in one big shelf.
        
Snowflake schema cupboard:
    You divide shirts into smaller groups:
        Formal shirts 
        Casual shirts 
        Party shirts
        Each group has sub-groups(material, color, brand).

This makes the cupboard more organised, but you have more shelfs to navigate.

## Example

Instead of one product table, we break it into:
    Product
    Product_Subcategory 
    Product_Category

## Example query

CREATE TABLE product_category (
    category_id INT PRIMARY KEY,
    category_name VARCHAR(50)
);

CREATE TABLE product_subcategory (
    subcategory_id INT PRIMARY KEY,
    subcategory_name VARCHAR(50),
    category_id INT REFERENCES product_category(category_id)
);

CREATE TABLE product (
    product_id INT PRIMARY KEY,
    product_name VARCHAR(50),
    subcategory_id INT REFERENCES product_subcategory(subcategory_id)
);

## Real World Example

Retail (Amazon-like product hierarchy):
    Category → Subcategory → Product
    Electronics → Mobile → iPhone 15

Query:
SELECT pc.category_name, ps.subcategory_name, p.product_name
FROM product p
JOIN product_subcategory ps USING (subcategory_id)
JOIN product_category pc USING (category_id);

## Summary

Snowflake Schema = normalized star schema

Dimension tables split into sub-dimensions

Saves storage

Reduces redundancy

More joins → slower

Best for enterprise DW with hierarchical dimensions

Used in retail, telecom, banking

Alternative: Star schema (simpler, faster)

Interview focus: differences + use cases

# Denormalization

Denormalization is the process of intensionally combining or duplicating data in a database to improve read performance.
Denormalization means: 
    adding redundancy,
    Combining tables, 
    Precomputing values, 
    Reducing joins.
It is mainly used in data warehouses and analytical systems.

How- 
    Merge related tables, 
    Add redundant columns, 
    Precalculate totals or aggregate, 
    store lookup values directly, 
    Create wide tables for analytics.

## Example

Before Denormalization:
Customer Table
|CustomerID|Name|CityID|

City table:
| CityID | CityName | State |

To display customer data + city name, you must JOIN tables.

After Denormalization:
Merge city details into customer table.

Customer Table
| CustomerID | Name | CityName | State |

## Example query

SELECT 
  CustomerID, Name, CityName, State
FROM Customers;

## When to use

✔️ Use Denormalization When:

Building dashboards (Power BI, Tableau)

Data warehouse / OLAP system

Read-heavy queries

Star schema modeling

Large joins slow down reports

❌ Avoid Denormalization When:

Dealing with transactional OLTP systems

High write/update frequency

Strict data consistency needed

## Operations

Common Denormalization Techniques

Table Merging – Combine related tables

Column Duplication – Add redundant data (CityName, State)

Precomputed Aggregates – e.g., TotalSales in Fact table

Lookup Expansion – Store category name instead of category ID

Wide Tables – Using many columns for analytics

Summary Tables – Store rolled-up data

Materialized Views – Precomputed query outputs stored physically

## Real World Example

Retail:

Store product and category name directly in sales table → faster Power BI dashboards.

## Summary

Denormalization = adding redundancy for speed

Opposite of normalization

Reduces joins → faster queries

Best for BI, OLAP, dashboards, data warehouses

Causes redundancy, anomalies, and maintenance challenges

Use only when read performance matters more than space or consistency

# Star Schema

A Star schema is a type of database design used mainly in data warehousing and business intelligence.
It organizes data in a structure where one central fact table is connected to multiple dimension tables, forming 
a star-like shape.

A star schema consists of:
Fact table - numerical, measurable business metrics(sales amount, profit, quantity)
Dimensional tables - descriptive context(product, customer, store, date)

How - 
    One Fact table containing foreign keys to dimensions + metrics.
    Multiple Dimension tables containing descriptive attributes.

## Analogy

Think of a shopping bill:
    The bill contains numbers like total amount, quantity, discount - FACT(measures)
    Product details, customer details, store details, date of purchase - DIMENSIONS(descriptions)

Just like the bill summarizes important numbers and refers to details somewhere else, Star schema separates 
measurements and descriptive attributes.

## Example

In [ ]:
Fact table(sales_fact):
| SaleID | ProductID | CustomerID | DateID | StoreID | Quantity | TotalAmount |

Dimension tables:
| Product_Dim | Customer_Dim | Date_Dim | Store_Dim |

Each dimension connects to the fact table by keys -> looks like a star.

## Example query

CREATE DATABASE stecom

USE stecom

CREATE TABLE Sales_Fact (
  SaleID INT PRIMARY KEY,
  ProductID INT,
  CustomerID INT,
  DateID INT,
  StoreID INT,
  Quantity INT,
  TotalAmount DECIMAL(10,2)
);

CREATE TABLE Product_Dim (
  ProductID INT PRIMARY KEY,
  ProductName VARCHAR(100),
  Category VARCHAR(50),
  Brand VARCHAR(50)
);

CREATE TABLE Customer_Dim (
  CustomerID INT PRIMARY KEY,
  CustomerName VARCHAR(100),
  Gender VARCHAR(10),
  City VARCHAR(50)
);

CREATE TABLE Date_Dim (
  DateID INT PRIMARY KEY,
  DateValue DATE,
  Month INT,
  Year INT
);

CREATE TABLE Store_Dim (
  StoreID INT PRIMARY KEY,
  StoreName VARCHAR(100),
  Region VARCHAR(50)
);

In [ ]:
Foreign keys - ProductID, CustomerID, DateID, StoreID

## When to Use

| Use Star Schema When        | Don't Use Star Schema When              |
| --------------------------- | --------------------------------------- |
| Reporting / BI / dashboards | Banking / ERP transactional apps        |
| Data warehouse design       | Systems needing high write transactions |
| Read-heavy workload         | Write-heavy workload                    |

## Operations

| Operation  | Purpose                          | Example                |
| ---------- | -------------------------------- | ---------------------- |
| Slice      | Filter analysis by one dimension | Sales by Year          |
| Dice       | Multiple dimension filtering     | Sales by Year + Region |
| Drill Down | Go deeper                        | Year → Month → Day     |
| Drill Up   | Roll up                          | Product → Category     |
| Roll-up    | Aggregate measures               | Total Sales by Region  |
| Join       | Connect fact with dimensions     | Sales + Product_Dim    |

## Summary

Star Schema = Fact table + Dimension tables

Used for business intelligence & dashboards

High performance for analytical queries

Dimensions are denormalized for speed

Supports slicing, dicing, drill-down, aggregation

Best for data warehouses, not transactional systems

Easy to visualize and integrate with Power BI, Tableau, Looker

# ACID Transactions

An ACID Transaction is a set of rules that make sure database transactions(insert, update, delete) happen safely, 
reliably and correctly, even if there is a crash, failure, or errors.

ACID stands for:
    A - Atomicity
    C - Consistency 
    I - Isolation 
    D - Durability 

These four properties ensure transactions are safe, predictable and recoverable.

How - 
A database transaction is executed in a protected environment: 
    Start transaction 
    Execute operations 
    Validate 
    Commit or Rollback. 

Databases like MYSQL, PostgreSQL, Oracle, SQL Server enforces ACID automatically.

## Analogy

Think of a bank locker visit: 
    You enter the locker room (Start transaction) 
    Do your operations (take out cash, deposit items) 
    If everything is good, you lock it (Commit) 
    If anything goes wrong, you undo everything (Rollback) 

The ACID rules ensure that no matter what happens - power cut, server crash, network drop, your data stays safe and correct.

## Example query

START TRANSACTION;

UPDATE accounts SET balance = balance - 500 WHERE id = 1;
UPDATE accounts SET balance = balance + 500 WHERE id = 2;

COMMIT;

if something goes wrong

ROLLBACK;

START TRANSACTION; - Begins a protected transaction block.
COMMIT; - Save changes permanently. 
ROLLBACK; - Undo all changes made in transaction.

## All Operations

### A - Atomicity

"All or Nothing".

If one part fails, the entire transaction fails.

Example: 
Money is deducted but not credited? Atomicity prevents this.

### C - Consistency

"Data should always remain valid". 

Example:
A balance should never become negative if rules say so. 

Consistency ensures: 
    data types match 
    constraints are maintained 
    rules are followed

### I - Isolation

"Multiple transactions don't interfere." 

Example: 
Two users buying the last item.
Isolation ensures only one succeeds correctly. 

Isolation levels: 
    Read Uncommitted 
    Read Committed 
    Repeatable Read 
    Serializable(Strongest).

### D - Durability

"Once committed -> Stored permanently." 
Durability keeps committed data permanent

Even if: 
    Server crashes 
    Power fails 
    OS stops working 
Data will still be there.

## Example query for all transactions(ACID)

START TRANSACTION;

UPDATE stock SET quantity = quantity - 1 WHERE product_id = 10;

COMMIT;

-- Isolation level example
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;

## Real World Example

Banking Transactions
    Withdraw money
    Transfer funds
    Deposit money

Any partial failure can cause losses.

## Summary

ACID = Atomicity, Consistency, Isolation, Durability

Keeps transactions safe and correct

Used in banking, booking, inventory

Prevents partial updates

Uses commit/rollback

Slow but reliable

Alternatives: BASE, CAP-based models

# DML - Data Manipulation Language

DML is a set of SQL commands used to manage and manipulate data within database tables.
The commands are: 
    SELECT 
    INSERT 
    UPDATE 
    DELETE

HOW - 
    DML interacts with data but not with the table structure.

Steps(internally): 
    DB checks query validity 
    Executes operation 
    Stores change temporarily 
    Requires COMMIT or ROLLBACK to finalize.

## Analogy

Think of a notebook with blank pages: 
    INSERT - You write a newline in the notebook. 
    SELECT - You read what you wrote. 
    UPDATE - You edit an existing line. 
    DELETE - You erase a line. 

DML is simply the set of tools you use to manipulate the content in this notebook.

## Example query

-- INSERT
INSERT INTO employees (id, name, salary) 
VALUES (1, 'John', 50000);

-- SELECT
SELECT * FROM employees;

-- UPDATE
UPDATE employees 
SET salary = 60000 
WHERE id = 1;

-- DELETE
DELETE FROM employees 
WHERE id = 1;

-- COMMIT
COMMIT;

## When to Use

Any time you read, add, edit, or delete records

CRUD operations in applications

Data cleanup and maintenance

ETL operations

## All Operations

### INSERT

Add new rows

#### Query

INSERT INTO products (id, name, price)
VALUES (101, 'Laptop', 50000);

### SELECT

Reads data.

#### Query

SELECT name, price FROM products;

### UPDATE

Modifies existing data.

#### Query

UPDATE products
SET price = 45000
WHERE id = 101;

### DELETE

Removes data.

#### Query

DELETE FROM products
WHERE id = 101;

### Full query

-- CREATE DATA
INSERT INTO students (id, name, marks)
VALUES (1, 'Ravi', 90);

-- READ DATA
SELECT * FROM students;

-- MODIFY DATA
UPDATE students
SET marks = 95
WHERE id = 1;

-- REMOVE DATA
DELETE FROM students
WHERE id = 1;

COMMIT;

## Real World Example

E-Commerce Order:

Query:
INSERT INTO orders (id, user_id, amount) VALUES (501, 10, 1299);

## Summary

DML stands for Data Manipulation Language

Commands: SELECT, INSERT, UPDATE, DELETE

Used for CRUD operations

Changes can be committed or rolled back

Manipulates data, not structure

Requires careful use of WHERE

Alternatives: MERGE, REPLACE

# DQL - Data Query Language

DQL stands for Data Query Language.
It is only used to retrieve data from a database.

Main Command:
    SELECT
It does not modify data.but it only reads data.

HOW - 
    You send a SELECT query 
    The databases searches the table 
    It extracts matching rows 
    It sends results back to you 
    No data gets changed.

## Analogy

Imagine you have a library full of books(your database).
    DQL is your search tool
    You use it to find the exact books you want.
    You are not adding, editing, or deleting books - just reading them.

That's what DQL does with data.

## Example Query

SELECT name, salary 
FROM employees 
WHERE salary > 50000 
ORDER BY salary DESC;

## When to use

Generating reports

Fetching records for applications

Searching or filtering data

Data analytics and dashboards

Login authentication queries

## All Operations

### Basic SELECT

SELECT * FROM students;

### SELECT specific columns

SELECT name, marks FROM students;

### WHERE filtering

SELECT * FROM students WHERE marks > 80;

### ORDER BY sorting

SELECT * FROM students ORDER BY marks DESC;

### GROUP BY grouping

SELECT course, AVG(marks)
FROM students
GROUP BY course;

### HAVING (filter after grouping)

SELECT course, AVG(marks)
FROM students
GROUP BY course
HAVING AVG(marks) > 85;

### LIMIT

SELECT * FROM students LIMIT 5;

### JOIN

SELECT s.name, c.course_name
FROM students s
JOIN courses c
ON s.course_id = c.id;

## Full Query

SELECT s.name, s.marks, c.course_name
FROM students s
JOIN courses c ON s.course_id = c.id
WHERE s.marks > 80
ORDER BY s.marks DESC
LIMIT 10;

## Real World Example

Login Verification

Query:
SELECT * FROM users 
WHERE email = 'abc@gmail.com' AND password = 'xyz';

## Summary

DQL = Data Query Language

Main command: SELECT

Used for reading data only

Supports WHERE, ORDER BY, GROUP BY, HAVING, JOIN, LIMIT

Safe: does not modify data

Alternatives: Views, Stored Procedures

Essential for analytics, dashboards, reporting

# Joins

A Join is a SQL operation that connect tables using common columns.

HOW - 
JOIN matches rows based on a condition like:

Query:
table1.column = table2.column

## Analogy

Imagine you have two notebooks:
    One notebook contains student names and their IDs.
    Another contains student marks and their IDs. 
A Join is like stapling pages with the same student ID together so you can see full information in one place.

## Syntax

SELECT columns
FROM table1
JOIN table2
ON table1.common_column = table2.common_column;

## Example

Imagine two tables:

students
| id | name |
| -- | ---- |
| 1  | John |
| 2  | Sara |

marks
| id | subject | score |
| -- | ------- | ----- |
| 1  | Math    | 90    |
| 2  | Math    | 85    |

## Example query

SELECT students.name, marks.subject, marks.score
FROM students
JOIN marks
ON students.id = marks.id;

## All Operations

### INNER JOIN

Returns only matching rows from both tables.

Query:
SELECT *
FROM A
INNER JOIN B
ON A.id = B.id;

### LEFT JOIN (LEFT OUTER JOIN)

Returns all rows from left table, and matching rows from right.

Unmatched → NULL.

Query: 
SELECT *
FROM A
LEFT JOIN B
ON A.id = B.id;

### RIGHT JOIN (RIGHT OUTER JOIN)

Opposite of LEFT JOIN:
Returns all rows from right table and matching rows from left. 

Query:
SELECT *
FROM A
RIGHT JOIN B
ON A.id = B.id;

### FULL OUTER JOIN

Returns rows when there is a match in either table.

Missing side → NULL.

Query:
SELECT *
FROM A
FULL OUTER JOIN B
ON A.id = B.id;

### CROSS JOIN

Produces cartesian product → every row of A combines with every row of B. 

Query: 
SELECT *
FROM A
CROSS JOIN B;

### SELF JOIN

Joining the same table with itself. 

Query: 
SELECT A.name, B.name
FROM employees A
JOIN employees B
ON A.manager_id = B.id;

### All JOINS in one Example

-- INNER JOIN
SELECT * FROM A INNER JOIN B ON A.id = B.id;

-- LEFT JOIN
SELECT * FROM A LEFT JOIN B ON A.id = B.id;

-- RIGHT JOIN
SELECT * FROM A RIGHT JOIN B ON A.id = B.id;

-- FULL OUTER JOIN
SELECT * FROM A FULL OUTER JOIN B ON A.id = B.id;

-- CROSS JOIN
SELECT * FROM A CROSS JOIN B;

-- SELF JOIN
SELECT A.col1, B.col1
FROM table A
JOIN table B
ON A.some_column = B.some_column;

## Real-World Examples

HR system (employees + departments)

Query:
SELECT e.name, d.department_name
FROM employees e
JOIN departments d
ON e.dept_id = d.id;

Banking (accounts + transactions)

Query:
SELECT a.account_number, t.amount, t.date
FROM accounts a
LEFT JOIN transactions t
ON a.acc_id = t.acc_id;

## Summary

JOIN combines data from multiple tables.

INNER JOIN → matching rows only.

LEFT JOIN → all rows from left.

RIGHT JOIN → all rows from right.

FULL JOIN → rows from either table.

CROSS JOIN → cartesian product.

SELF JOIN → table joined with itself.

JOINs require ON conditions except CROSS JOIN.

Subqueries and UNION are alternatives.

Crucial for real-world relational databases.

# Window Functions

Window functions are used to perform powerful analytical calculations while keeping all rows intact.

A Window functions are used to perform calculations across a group of rows that are somehow related to the current row 
without collapsing them into a single row.

Window functions allow you calculate things like: 
    Ranking(ROW_NUMBER, RANK)
    Running totals / cumulative sums 
    Moving averages 
    Comparing rows(LEAD, LAG) 
    Percentiles 
They operate over a window(a defined set of rows) without grouping.

GROUP BY loses original rows, window functions keeps all rows.

## Analogy

Imagine watching a running race: 
    Each runner keeps their own position, 
    But you can still see who is ahead, behind, average speed, ranking, etc. 
Window functions work the same way; you can compute rank, running totals, averages, differences while still 
keeping every original row intact - like giving each runner their stats independently.

HOW - 
Syntax:
      
function_name (column) OVER (
    PARTITION BY column
    ORDER BY column
)

PARTITION BY - divides data into groups 
ORDER BY - defines order inside each group 
The window slides over rows while keeping all rows visible.

## Example

sales
| id | employee | amount |
| -- | -------- | ------ |
| 1  | John     | 100    |
| 2  | John     | 200    |
| 3  | Sara     | 300    |

Query: 
     SELECT 
    employee,
    amount,
    SUM(amount) OVER (PARTITION BY employee ORDER BY id) AS running_total
FROM sales;

+----------+--------+---------------+
| employee | amount | running_total |
+----------+--------+---------------+
| john     |    100 |           100 |
| john     |    200 |           300 |
| sara     |    300 |           300 |
+----------+--------+---------------+

## When to Use

Trending calculations
Top-N reporting
Side-by-side comparisons
Rolling statistics

## All Operations

### ROW_NUMBER()

Gives unique row number within each partition.

Query: 
ROW_NUMBER() OVER (PARTITION BY dept ORDER BY salary)

### RANK()

Same rank for ties; skips numbers.

Query: 
RANK() OVER (ORDER BY score DESC)

### DENSE_RANK()

No skipping of rank numbers.

Query: 
DENSE_RANK() OVER (ORDER BY score DESC)

### SUM()

Running totals.

Query: 
SUM(sales) OVER (ORDER BY date)

### AVG()

Moving average.

Query: 
AVG(sales) OVER (ORDER BY date ROWS BETWEEN 2 PRECEDING AND CURRENT ROW)

### COUNT()

Cumulative counts.

Query: 
COUNT(*) OVER (PARTITION BY region)

### LAG()

Get previous row’s value.

Query: 
LAG(sales, 1) OVER (ORDER BY date)

### LEAD()

Get next row’s value.

Query: 
LEAD(sales, 1) OVER (ORDER BY date)

### FIRST_VALUE()

First value of the window.

Query: 
FIRST_VALUE(price) OVER (PARTITION BY product ORDER BY date)

### LAST_VALUE()

Last value.

Query: 
LAST_VALUE(price) OVER (PARTITION BY product ORDER BY date)

## Full Example with All Window Functions

Query: 

SELECT
    employee,
    amount,
    ROW_NUMBER() OVER (ORDER BY amount) AS rownum,
    RANK() OVER (ORDER BY amount) AS rank_val,
    DENSE_RANK() OVER (ORDER BY amount) AS dense_rank_val,
    SUM(amount) OVER (ORDER BY amount) AS running_sum,
    AVG(amount) OVER (ORDER BY amount) AS running_avg,
    LAG(amount) OVER (ORDER BY amount) AS previous_amount,
    LEAD(amount) OVER (ORDER BY amount) AS next_amount
FROM sales;

## Real-World Example

#Ranking top 3 products per category

Query: 

SELECT *
FROM (
    SELECT product, category, sales,
           RANK() OVER (PARTITION BY category ORDER BY sales DESC) AS rnk
    FROM products
) t
WHERE rnk <= 3;

## Summary

Window functions perform analytics across rows

Keep all original rows (unlike GROUP BY)

Syntax uses OVER(), PARTITION BY, ORDER BY

Common functions: SUM, AVG, ROW_NUMBER, LAG, LEAD, RANK

Useful for running totals, rankings, comparisons

Alternatives: GROUP BY or subqueries

Essential for analytics, reporting, and SQL interviews

# Data Types

Sql data type define what kind of data a column can store in a database table such as numbers, texts, dates or 
binary data.

## Analogy

Think of a form: 
    Age - Numbers only 
    Name - Text only 
    DOB - Date only 

SQL data types are like field rules in a form that prevent wrong input.

HOW - 
You define data types when creating or altering tables.

## Syntax

CREATE TABLE table_name (
    column_name data_type
);

## Example

CREATE TABLE employees (
    emp_id INT,
    emp_name VARCHAR(50),
    salary DECIMAL(10,2),
    join_date DATE
);

## Types

### Numeric data types

| Type         | Description          |
| ------------ | -------------------- |
| INT          | Whole numbers        |
| BIGINT       | Large integers       |
| DECIMAL(p,s) | Exact numeric values | p - precision, s - scale
| FLOAT        | Approximate values   |

Query: 
price DECIMAL(8,2), #total digits - 8, digits after decimal - 2
quantity INT

### Character / String Data Types

| Type       | Description          |
| ---------- | -------------------- |
| CHAR(n)    | Fixed-length text    |
| VARCHAR(n) | Variable-length text |
| TEXT       | Large text           |

Query: 
name VARCHAR(100),
description TEXT

### Date & Time Data Types

| Type                 | Description |
| -------------------- | ----------- |
| DATE                 | Date only   |
| TIME                 | Time only   |
| DATETIME / TIMESTAMP | Date + time |

Query: 
created_at TIMESTAMP

### Boolean Data Type

| Type    | Description  |
| ------- | ------------ |
| BOOLEAN | TRUE / FALSE |

Query: 
is_active BOOLEAN

### Binary Data Type

| Type | Description         |
| ---- | ------------------- |
| BLOB | Binary large object |

Query: 
profile_image BLOB

## Full Example with All Data Types

Query: 

CREATE TABLE sample (
    id INT,
    name VARCHAR(50),
    age INT,
    salary DECIMAL(10,2),
    is_active BOOLEAN,
    created_at TIMESTAMP,
    notes TEXT,
    file_data BLOB
);

## Alternative Methods

### Using Generic Types (Not Recommended)

Query: 
value TEXT

When to Use: 
Semi-structured data

### JSON Data Type

Query: 
details JSON

When to Use: 
Logs, metadata, configs

## Real-World Example

E-commerce Table: 

Query: 
CREATE TABLE orders (
    order_id INT,
    customer_name VARCHAR(100),
    order_amount DECIMAL(10,2),
    order_date DATE,
    is_paid BOOLEAN
);

## Summary

Data types define what data a column can store

Categories: Numeric, String, Date/Time, Boolean, Binary

Choose types carefully for performance & accuracy

DECIMAL for money, VARCHAR for text, DATE/TIMESTAMP for time

Avoid generic types unless necessary

Common interview topic in SQL

# Variables

SQL Variables are temporary storage locations used to store values during query execution.

## Analogy

Think of a calculator memory(M+): 
    You store a number 
    Reuse it in multiple calculations 
    Clear it when done. 
SQL variables work the same way, they exist temporarily while the query, procedure, or session runs.

HOW - 
SQL variables differ by database system. 

Common types: 
    Local variables - Used inside procedures/functions 
    Session variables - Exist during session 
    User-defined variables - Created by user

## Syntax

DECLARE variable_name data_type;
SET variable_name = value;

## Example

Query: 
DECLARE @salary INT;
SET @salary = 50000;

SELECT @salary AS employee_salary;

## When to Use

When to Use

Calculations

Conditional logic

Stored procedures

Reusing query results

## Types

### Local Variables (SQL Server)

Query: 
DECLARE @count INT = 10;

### User-Defined Variables (MySQL)

Query: 
SET @total := 100;
SELECT @total;

### System Variables (MySQL)

Query: 
SELECT @@version;

### Variables in Stored Procedures

Query:
CREATE PROCEDURE demo()
BEGIN
    DECLARE x INT DEFAULT 5;
    SELECT x;
END;

### Assign Variable from Query

Query: 
SELECT COUNT(*) INTO @cnt FROM employees;

## Full Example Using Multiple Variables

Query: 
DECLARE @a INT = 10;
DECLARE @b INT = 20;
DECLARE @sum INT;

SET @sum = @a + @b;

SELECT @sum AS total;

## Real-World Examples

Dynamic Salary Filter

Query: 
DECLARE @min_salary INT = 40000;

SELECT *
FROM employees
WHERE salary > @min_salary;

Conditional Logic

Query: 
DECLARE @age INT = 17;

IF @age >= 18
    SELECT 'Eligible';
ELSE
    SELECT 'Not Eligible';

## Summary

SQL variables store temporary values

Used in procedures, scripts, logic

Types: Local, Session, System

Syntax varies by DB (MySQL, SQL Server)

Improve readability and reusability

Alternatives: subqueries, CTEs

# Constants

SQL Constants are fixed values that do not change during query execution.

## Analogy

Think of a road speed limit sign: 
    60km/hr is fixed 
    Everyone follows the same value 
    It doesn't change while driving 
SQL Constants are like that, hardcoded, fixed values used in queries.

HOW - 
Constants are written directly in SQL statements without declaration.

## Syntax (General Form)

Query: 
SELECT column
FROM table
WHERE column = constant;

## Example

Query: 
SELECT *
FROM employees
WHERE salary > 50000;

## When to Use

Fixed rules
One-time filters
Simple conditions

## Constant Types

### Numeric Constants

10
3.14
50000

Used for calculations and comparisons.

### String Constants

'John'
'Data Science'

Must be enclosed in single quotes.

### Date & Time Constants

'2025-01-01'
'2025-01-01 10:30:00'

### Boolean Constants

TRUE
FALSE

Some DBs use 1 and 0

### NULL Constant

NULL

Represents unknown or missing value.

### Special Constants

CURRENT_DATE
CURRENT_TIMESTAMP

System-generated constants.

## Full Example Using All Constants

Query:
SELECT *
FROM employees
WHERE 
    salary > 40000
    AND department = 'IT'
    AND is_active = TRUE
    AND join_date >= '2023-01-01';

## Real-World Example

Age Eligibility Check

Query: 
SELECT *
FROM users
WHERE age >= 18;

Date-Based Report 

Query: 
SELECT *
FROM orders
WHERE order_date = '2024-12-25';

## Summary

Constants are fixed values in SQL

Types: Numeric, String, Date, Boolean, NULL

Written directly in queries

Simple but not reusable

Alternatives: Variables, parameters

Fundamental for SQL filtering and logic

# Conditional Structures

Conditional structures are used to make decisions based on conditions.
It checks the conditions and executes logic based on true or false.

## Analogy

Think of a traffic signal: 
    If the light is green - go 
    If the light is red - stop 
    If the light is yellow - slow down 
SQL conditional structures works the same way, based on conditions, different actions/results happen.

HOW - 
SQL evaluates conditions row by row and applies the corresponding result.

Common conditional structures:
    CASE
    IF
    IFNULL / COALESCE
    NULLIF

## Syntax

CASE
    WHEN condition THEN result
    ELSE result
END

## Example

SELECT 
    name,
    salary,
    CASE 
        WHEN salary >= 60000 THEN 'High'
        ELSE 'Low'
    END AS salary_level
FROM employees;

## When to Use

Data classification
Conditional formatting
Business logic in queries

## All Operations

### CASE Expression

Query: 
CASE
    WHEN condition THEN value
    ELSE value
END

Used for multiple conditions.

### IF (MySQL)

Query: 
IF(condition, true_value, false_value)

example: 
SELECT IF(score >= 50, 'Pass', 'Fail');

### IFNULL

Query: 
IFNULL(column, replacement)

Replaces NULL.

### COALESCE

Query: 
COALESCE(col1, col2, col3)

Returns first non-NULL.

### NULLIF

Query: 
NULLIF(value1, value2)

Returns NULL if values match.

### IF...ELSE (Procedural SQL)

Query: 
IF condition THEN
   statements;
ELSE
   statements;
END IF;

Used inside stored procedures.

### Full Example Using All Conditional Methods

Query: 

SELECT
    name,
    score,
    CASE 
        WHEN score >= 80 THEN 'A'
        WHEN score >= 60 THEN 'B'
        ELSE 'C'
    END AS grade,
    IFNULL(bonus, 0) AS bonus_amount,
    COALESCE(phone, email, 'N/A') AS contact
FROM students;

## Real-World Examples

Customer Segmentation

Query: 
SELECT customer,
CASE
    WHEN total_spent > 100000 THEN 'Platinum'
    WHEN total_spent > 50000 THEN 'Gold'
    ELSE 'Silver'
END AS customer_type
FROM customers;

Handle Missing Values

Query: 
SELECT COALESCE(phone, 'Not Provided')
FROM users;

## Summary

Conditional structures add decision logic to SQL

CASE is most common and portable

IF, IFNULL, COALESCE handle conditions & NULLs

Used for classification, calculation, logic

Critical for analytics & reporting

Popular SQL interview topic

# Integrating Python with SQL

Using Python programs to connect to a database, send SQL queries, and process the results.
SQL handles data, Python handles logic and processing.

Python–SQL integration allows Python to:
    Connect to databases (MySQL, PostgreSQL, SQLite, SQL Server)
    Execute SQL queries (SELECT, INSERT, UPDATE, DELETE)
    Fetch results into Python objects (lists, tuples, DataFrames)

HOW - 
Python uses database connector libraries to communicate with SQL.
Common libraries:
    sqlite3 → SQLite
    mysql-connector-python → MySQL
    psycopg2 → PostgreSQL
    pyodbc → SQL Server
    SQLAlchemy → ORM / abstraction layer

## Steps

1.Connect to database
2.Create cursor
3.Execute SQL query
4.Fetch results
5.Close connection

## Example

import sqlite3

conn = sqlite3.connect("company.db")
cursor = conn.cursor()

cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()

for row in rows:
    print(row)

conn.close()

## When to Use

Data analysis

Backend development

ETL pipelines

ML feature extraction

## All Operations

### Connecting to Database

sqlite3.connect("db.db")

### Creating Cursor

cursor = conn.cursor()

### Executing Queries

cursor.execute("SELECT * FROM table")

### Fetching Data

cursor.fetchone()
cursor.fetchall()
cursor.fetchmany(5)

### Inserting Data

cursor.execute(
    "INSERT INTO employees VALUES (?, ?)",
    (1, "John")
)
conn.commit()

### Deleting Data

cursor.execute(
    "DELETE FROM employees WHERE id = 1"
)
conn.commit()

### Parameterized Queries (IMPORTANT)

cursor.execute(
    "SELECT * FROM employees WHERE salary > ?",
    (50000,)
)

## Full Example with All Operations

cursor.execute("CREATE TABLE IF NOT EXISTS emp (id INT, name TEXT)")
cursor.execute("INSERT INTO emp VALUES (?, ?)", (1, "Sara"))
cursor.execute("SELECT * FROM emp")
print(cursor.fetchall())
conn.commit()

## Real-World Examples

#ETL Pipeline

cursor.execute("INSERT INTO clean_data SELECT * FROM raw_data")
conn.commit()

#ML Feature Extraction

cursor.execute("SELECT age, salary FROM employees")
X = cursor.fetchall()

## Summary

Python integrates with SQL using DB drivers

Steps: connect → execute → fetch → close

Use parameterized queries for security

Pandas & SQLAlchemy simplify work

Essential for analytics, ML, backend systems

Common interview and real-world skill